<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<a id="Zlhs model.id Zrhs">
	Zlhs $.getImageTN(model,'photoUrl','<%= rwFB.CDN%>/images/icons/UserWBack.png','meetingAttendees ui-li-thumb')Zrhs
	
	<span class="Zlhs ($.hasVal(model.get('guestType')))?model.get('guestType'):'ismember'Zrhs">
		 			<!-- regular -->
		 			<!-- base case - regular attendee -->
		 			<h3 class="referralListItemTopLine regular newmember">	Zlhs model.get('fullName')Zrhs</h3>	 			
		 			<p class="referralListItemBottomLine regular newmember"> Zlhs $.getPosition(model.get('jobTitle'),model.get('business'))Zrhs</p>
	</span>
	
					
</a>
