<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:34:59 GMT">
<table style="width:100%" table-layout:fixed" class="expandableListRow home">
	<tr>
		<td style="width:82px;overflow:hidden">
			
			Zlhs $.getImageTN(model,'photoUrl','images/icons/UserWBack.png','meetingAttendees ui-li-thumb')Zrhs
		</td>	
		<td style="padding-top:5px;padding-bottom:5px">
	 			<!-- for prospect recommendation -->
	 			<div>
		 			<!-- regular -->
		 			<!-- base case - regular attendee -->
		 			<div class="Zlhs $.getFormattedVal(model.get('newMemberSrc_fullName'),'hidden','referralListItemTopLine regular')Zrhs"><a href="#contactList/Zlhs model.get('contactId')Zrhs" class="partnerName" style="font-family:Heiti TC">Zlhs model.get('fullName')Zrhs</a></div>	 			
		 			<div class="Zlhs $.getFormattedVal(model.get('newMemberSrc_fullName'),'hidden','referralListItemBottomLine regular')Zrhs"> Zlhs $.getPosition(model.get('jobTitle'),model.get('business'))Zrhs</div>
		 			<div class="Zlhs $.getFormattedVal(model.get('newMemberSrc_fullName'),'hidden','referralListItemBottomLine regular')Zrhs" style="padding-top:5px"> <b>Member since:</b> Zlhs model.get('joinedMonth') + ' ' + model.get('joinedDate') + ', ' + model.get('joinedYear') Zrhs</div>
		 			<!-- floater -->
		 			<div class="Zlhs $.getConditionalVal(model.get('guestType'),'FLOATER','referralListItemBottomLine regular','hidden') Zrhs" style="padding-top:5px"> <b>Home chapter:</b> Zlhs model.get('guestBusinessName') Zrhs</div>
		 			<!-- new member -->
		 			<div class="Zlhs $.getFormattedVal(model.get('newMemberSrc_fullName'),'referralListItemTopLine regular','hidden')Zrhs"><a class="contactName" style="font-family:Heiti TC">Zlhs model.get('fullName')Zrhs</a></div>
		 			<div class="Zlhs $.getFormattedVal(model.get('newMemberSrc_fullName'),'referralListItemBottomLine regular','hidden')Zrhs" style="padding-top:5px"><span style="color:#2E8B57;font-weight:bold;font-size:12pt">New member!&nbsp;</span></div>
		 			<div class="Zlhs $.getFormattedVal(model.get('newMemberSrc_fullName'),'referralListItemBottomLine regular','hidden')Zrhs" style="padding-top:5px">Invited by: Zlhs model.get('newMemberSrc_fullName') Zrhs</div>
		 			<!-- smartphone -->
					<span class="referralListItemTopLine phone">Zlhs model.get('fullName')Zrhs</span> 				
				</div>
		</td>
		
		<td class="contextActionCell">
			
		</td>

	</tr>		
</table>





