<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<table style="width:100%" table-layout:fixed" class="expandableListRow home">
	<tr>
		<td style="width:82px;overflow:hidden">
			<img src="Zlhs $.getAltValue(model.get('contact_photoUrl'),'<%= rwFB.CDN%>/images/icons/User.png')Zrhs" style="height:80px"/>
		</td>	
		<td style="padding-top:5px;padding-bottom:5px">
	 			<!-- for prospect recommendation -->
	 			<div>
		 			<!-- regular -->
		 			<span class="referralListItemTopLine regular"><a href="#contactList/Zlhs model.get('contactId')Zrhs" class="contactName">Zlhs model.get('contact_fullName')Zrhs</a> Zlhs $.getPositionParentheses(model,'contact_jobTitle','contact_business')Zrhs meets <span style="font-size:14pt;font-weight:bold">Zlhs model.get('totalCriteriaMet')Zrhs</span> of the <span style="font-size:14pt;font-weight:bold">Zlhs model.get('totalCriteriaSpec')Zrhs</span> criteria that Zlhs model.get('partner_firstName')Zrhs looks for in a prospective customer.</span>
		 			<!-- smartphone -->
					<span class="referralListItemTopLine phone"><!-- tbd --></span> 	
					<div class="Zlhs $.getStarClass(model.get('score')) Zrhs"></div>				
				</div>
				
		</td>
		
		<td class="expandCollapseCell" stateCell="Zlhs model.get('id') Zrhs" recommendToggle referralStatus="CONFIRMED" toggleState="collapsed" toggleCID="Zlhs model.cid Zrhs">
			<img src="<%= rwFB.CDN%>/images/icons/addIconBlueTall.png'">
			<span toggleAction="CONFIRMED"  style="display:block;font-size:10px;position:absolute;bottom:0;padding-left:12px;color:black">Expand</span>
		</td>
		
		
		
		
	</tr>		
</table>

	<div  id="Zlhs model.cid Zrhs_details" objid="Zlhs model.get('id') Zrhs_details" class="insetReferralDetail" detailNodeState="hidden" detailNode="Zlhs model.get('status') Zrhs">
		<div class="notePaper" style='padding:20px'>

			<table width='100%' class="offer" style="border-spacing:0">

<!-- cat1Name,cat1CriteriaSpec,cat1CriteriaMet -->
				<tr>
					<td style="vertical-align:top;">
						<ul data-role="listview" data-inset="true" class="formfields">
							<% for (var i=0;i < attributes.length;i++) {var a = attributes[i];var aName = a.fldname; if (a.dataType != 'hidden'){%>
							<li class=""><table width="100%"><tr><td width="25%" align="right" class="label"><span><%= a["label"]%>:</span></td><td width="5%"></td><td width="70%"><%= fieldRenderer(a,true)%></td></tr></table></li>
							<% }}; %>
						</ul>
			
					</td>
					
					
					<td style="vertical-align:top;width:200px">
						<div class="referralFormSectionTitle">What do you want to do?</div>
						<div class="recommendedAction">
							<img action="refer" recId="Zlhs model.get('id')Zrhs" class="recommendActionButton" src="<%= rwFB.CDN%>/images/icons/phoneNewReferralIcon.png">
							
							<!-- for prospect recommendation -->
							<div class="recommendActionText">Refer</div>
													
						
						</div>
						<div class="Zlhs $.getConditionalVal(model.get('contact_partnerType'),'REFERRAL_CONTACT','recommendedAction','hidden') Zrhs">
							<img action="invite" recId="Zlhs model.get('id')Zrhs" class="recommendActionButton" src="<%= rwFB.CDN%>/images/icons/phoneInvite.png">
							
							<!-- for prospect recommendation -->
							<div class="recommendActionText">Invite</div>

						</div>
						<div class="recommendedAction">
							<img action="ignoreMyRec" recId="Zlhs model.get('id')Zrhs" class="recommendActionButton" src="<%= rwFB.CDN%>/images/phoneIgnoreRec.png">
							<div class="recommendActionText">Ignore</div>
						</div>
					
					</td>
				</tr>

			</table>
		</div>
		
	</div>





