<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<a id="Zlhs model.id Zrhs" href="Zlhs '#EventExpected/' + model.get('id') Zrhs" class="masterDetailList">
	<div class="dateIconContainer smaller">
			<div class="dayLabel">Zlhs $.getDateElement(model,"datetime","day") Zrhs</div>
			<div class="dateLabel" style="font-family: arial;">Zlhs $.getDateElement(model,"datetime","date") Zrhs</div>
			<img class="dateIcon" src="<%= rwFB.CDN%>/images/icons/dateIcon.png">
	</div>
	<div class="eventItemTextContainer">
		<div class="partnerName eventItem">Zlhs model.get('title') + ' ' + $.getDateStringNoAdjust(model,'datetime') Zrhs</div>
		<p><b>Speaker:&nbsp;</b>Zlhs model.get('speaker1_fullName') Zrhs</p>
		<p>Zlhs $.formatDateTime(model.get('datetime')) Zrhs </p>
	</div>
</a>







