<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<table style="width:100%">
	<tr>
		<td style="width:82px">
			Zlhs $.getImage(model,'from_photoUrl','<%= rwFB.CDN%>/images/icons/UserWBack.png','meetingAttendees')Zrhs
		</td>	
		<td>
	 		<a href="#contactList/Zlhs model.get('id') Zrhs"">
				<h3>Zlhs model.get('from_fullName') Zrhs</h3>
				<p>Just accepted a referral</p>
				<p>Yeah!</p>
			</a>
		</td>
		<td style="width:80px;text-align:right">Zlhs $.timeAgo(model.get('date').$date) Zrhs ago</td>
	</tr>		
</table>





