
<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<a id="Zlhs model.get('id') Zrhs" href="#memberProfile/Zlhs model.get('id') Zrhs">Zlhs $.getImageTN(model,'photoUrl','<%= rwFB.CDN%>/images/icons/UserWBack.png','')Zrhs
	<div class="Zlhs $.getMemberBadgeClass(model) Zrhs"></div>
	<h3 class="Zlhs $.getConditionalVal(model.get('partytype'),'PARTNER','partnerName','contactName') Zrhs">Zlhs model.get('fullName') Zrhs</h3>
	<p>Zlhs $.getPositionListClass(model.get('jobTitle'),model.get('business'),model.get('partytype')) Zrhs </p>
</a>





