<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<table style="width:100%">
	<tr>
		<td style="width:82px;height: 82px;position:relative">
			<div style="width:100%; position:absolute;overflow:hidden;height: 82px;top: 0;">
				<img src="Zlhs $.getAltValue(model.get('owner_photoUrl'),'<%= rwFB.CDN%>/images/icons/User.png')Zrhs" style="height:80px"/>
			</div>
		</td>
		
		<td>
	 		<a class="Zlhs (model.get('partyId') == rwApp.uId)?'hidden':'partnerName' Zrhs" href="#memberProfile/Zlhs model.get('partyId')Zrhs">
				<div style="font-size:12pt">Zlhs model.get('owner_fullName') Zrhs</div>
			</a>
	 		<a class="Zlhs (model.get('partyId') == rwApp.uId)?'partnerName':'hidden' Zrhs">
				<div style="font-size:12pt">Zlhs model.get('owner_fullName') Zrhs</div>
			</a>
			<span style="color:black;font-size:10pt;padding-top:5px;font-weight:normal;">Zlhs model.get('message') Zrhs</span>
		</td>
		<td class="activityStreamTime">Zlhs $.timeAgo(model.get('timestamp').$date) Zrhs</td>
	</tr>		
</table>





