<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<a id="Zlhs model.get('id') Zrhs">Zlhs $.getImageTN(model,'photoUrl','<%= rwFB.CDN%>/images/icons/UserWBack.png','')Zrhs
	<h3 class="partnerName">Zlhs model.get('fullName') Zrhs</h3>
  	<div class="starFrame Zlhs(!$.hasVal(model.get('speakerRating')))?'hidden':''Zrhs">
		<img class="rs-unselected" src="/images/ratingStarsListUnselected.png">
		<img class="rs-selected" src="/images/ratingStarsListSelected.png">
		<img class="rs-hover" src="/images/ratingStarsListHover.png">
		
		<div class="ratingStarValue" style="width:Zlhs (model.get('speakerRating') / 5) * 100 Zrhs"></div>
		<div class="ratingStarBalance" style="width:Zlhs (1-(model.get('speakerRating') / 5)) * 100 Zrhs"></div>
	</div>
</a>





