<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="position:relative;height:40px; background:gold;margin-top:-10px"> <h1 style="position:relative; left:40px; top:10px;">Administration Screen</h1></div>
<div id="adminMDefn" class="button" style="position: relative; top: -12px; width: 60px; left: 260px; height: 14px;background-color: blue;" onclick="javascript:rwApp.navigate('#admin/adminMDefn', {trigger: true})"> Reports </div>
<div id="adminCharts" class="button" style="position: relative; top: -12px; width: 60px; left: 260px; height: 14px;background-color: blue;" onclick="javascript:rwApp.navigate('#admin/charts', {trigger: true})"> Data Explorer </div>
<div id="adminMetrics" class="button" style="position: relative; top: -35px; width: 100px; left: 382px; height: 14px" onclick="javascript:rwApp.navigate('#admin/metrics', {trigger: true})"> Activity Monitor </div>
<div id="adminSite" class="button" style="position:relative;top: -35px;width:120px;margin-top: -24px;margin-left: 545px;height: 14px;"> Website Settings </div>
<div id="adminContainer" style="position:relative"></div>

