<!DOCTYPE html> 
<html> 
<head> 
<title>STNConnect</title> 
<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="../../../style/STN_style.css" />

</head>

<body style="overflow:hidden" class="smartPhone phoneWelcome">
	<div class="welcome-semi-trans">
		<h1>Welcome back!</h1>
		<div class="welcomeDownload">
			<a href="https://play.google.com/store/apps/details?id=com.stn2.Android"><img src="../../Images/STN_iPhone_58.png"></a>
			To login into STNConnect, please use STNConnect mobile application. If you don't have it already, please download it from Google Play<a href="https://play.google.com/store/apps/details?id=com.stn2.Android">here</a>. If you have installed already, please update it.
		</div>
 	</div>
</body>
</html>
