<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">


<div class="closeMenu" id="closeLeftMenu" style="height: 50px;background-color: #000;position: absolute;top: 0;left: 0;right: 0;"><a class="closeMenu" data-rel="close">
				<img src="<%= rwFB.CDN%>/images/icons/closeIconWhite.png" ><span>Close Menu</span></a>
				</div>
				<div id="pdiv" style="position:absolute; top:50px;left:0;right:0;">

						<div id="homeMenu" class="topMenuItem transactScreen">
							<div class="menuItemDetail action" route="#home">
								<img class="menuIcon" src="images/icons/homeIconSmall.png">
								<span>Home</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>
						<div class="topMenuItem transactScreen" id="memberList">
								<div class="menuItemDetail action" route="#memberList">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/allMembers.png">
									<span>All Members</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
							
						</div>
						<div class="topMenuItem transactScreen" id="referralList">
							<div class="menuItemDetail action" route="#referralLBMyPowerPartners">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/referralSmall2.png">
										<span>My Referrals</span>
										<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>	
						</div>	
						<div class="topMenuItem transactScreen" id="speakerList">
								 <div class="menuItemDetail action" route="#speakerList">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/speakersWhite.png">
									<span>Speakers</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>
						
						<div id="chaptersMenu" class="topMenuItem transactScreen">
							<div class="menuItemDetail action" route="#OrgList">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/chaptersWhite.png">
								<span>Chapters</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>
												
						<div class="topMenuItem transactScreen" id="addressBook">
								<div class="menuItemDetail action" route="#partnerList">
									<img class="menuIcon" style="height:auto;top:14px" src="images/icons/contactCardsWhite.png">
									<span>My Address Book</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>
						<div class="topMenuItem transactScreen" id="events">
								<div class="menuItemDetail action" route="#AllUpcomingEvents">
									<img class="menuIcon" style="height:auto;top:8px" src="images/icons/calendarSmall.png">
									<span>Events</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>
						<div class="topMenuItem transactScreen" id="events">
								<div class="menuItemDetail action" route="#BusinessDirectorySearch">
									<img class="menuIcon" style="height:auto;top:8px" src="images/icons/briefcaseWhite.png">
									<span>Businesses</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>
						
						<div id="newReferral" class="topMenuItem transactScreen">
							<div class="menuItemDetail refer" route="http://resource.successfulthinkersnetwork.com/" target="_blank">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/handShake.png">
								<span>New Referral</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>
						
						
						<div id="resources" class="topMenuItem transactScreen">
							<div class="menuItemDetail action" route="http://resource.successfulthinkersnetwork.com/" target="_blank">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/helpInfo.png">
								<span>Resource Site</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>
						
						<div id="help" class="topMenuItem transactScreen">
							<div class="menuItemDetail action" route="http://help.successfulthinkersnetwork.com/" target="_blank">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/questionWhite.png">
								<span>Help</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>
						<!-- 
						<div id="admin" class="topMenuItem transactScreen adminEntryScreen">
								<div class="menuItemDetail action" route="#reports_admin">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/settingsIconSmall.png">
									<span>Administration</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>
						-->
						<div id="homeMenu2" class="topMenuItem adminScreen">
							<div class="menuItemDetail action" route="#home">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/homeIconSmall.png">
								<span>Home</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>		
						<!-- 
						<div id="metrics" class="topMenuItem adminScreen">
								<div id="r" class="menuItemDetail action" route="#metricList_admin">
									<img id="i" class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/metricsWhite.png">
									<span id="s">Aggregates</span>
									<img id="i2" class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>						

						<div id="awards" class="topMenuItem adminScreen">
								<div class="menuItemDetail action" route="#awardList_admin">
									<img class="menuIcon" style="height:auto" src="<%= rwFB.CDN%>/images/icons/awardAdminWhite.png">
									<span>Awards</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>
						<div id="email" class="topMenuItem adminScreen">
								<div class="menuItemDetail action" route="#emailTemplateList_admin">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/emailTemplatesWhite.png">
									<span>Email Templates</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>
						<div id="images" class="topMenuItem adminScreen">
								<div class="menuItemDetail action" route="#imageList_admin">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/imageWhite.png">
									<span>Image Files</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>
						<div id="reports" class="topMenuItem adminScreen">
								<div class="menuItemDetail action" route="#reports_admin">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/chapterDashBoard.png">
									<span>Reports</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
								</div>
						</div>
						  -->
						 

		         </div>

