<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
 
		<div class="box-score newmembers">
         	<a href="#memberList/AllNewMembers">
         		<div class="box-score-title">New Members</div>
	          	<div class="box-score-num">
	          	
	          		<%= model.get('NewMembersLastSeven') %>
	          	</div>
	          	<div class="box-score-label">joined - last 7 days</div>
	          	<div class="box-score-label-sub">Click to view</div>
         	</a>
         </div>