<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:34:59 GMT">
	
	<div class="link">

	<a href="#EventExpected/Zlhs model.get('eventId')Zrhs" style="text-decoration:none">


		<div class="dateIconContainer smaller">
				<div class="dayLabel">Zlhs $.getDateElement(model,"datetime","day") Zrhs</div>
				<div class="dateLabel" style="font-family: arial;">Zlhs $.getDateElement(model,"datetime","date") Zrhs</div>
				<img class="dateIcon" src="<%= rwFB.CDN%>/images/icons/dateIcon.png">
		</div>
	    
	    <div class="stn-info">
	    	<div class="stn-info-next-mtg">My Next Meeting</div>
	    	<div class="chapterName">Zlhs model.get('businessName') Zrhs</div>
	    	<div class="speaker"><b>Speaker:</b> Zlhs model.get('speaker1_fullName') Zrhs</div>
	    	<div class="clear"></div>
	    </div>
	    <div class="clear"></div>
	</a>
	</div>









