<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Successful Thinkers</title>
</head>
<body>

<div style="background-color: #466bb0; width: 100%; margin:0; padding:0; font-family:arial; font-size: 12px;">

<div style="width: 648px; margin: 0 auto;"><img src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/email-header_members.jpg" width="648" height="90" alt=""/></div>
<div style="width: 588px; margin: 0 auto 25px; padding:30px; background-color: #FFF; text-align: left; color: #818181; font-size: 16px; line-height: 20px; border-radius: 8px; -moz-border-radius: 8px;">
	<p>$data.get("firstName"),</p>

	<p>We are expecting you at the $data.get("businessName") meeting. Here is some news that might be of interest to you from our chapter.</p>

	#if ($data.get("totalInvitations") > 0 ) 
	<br> - Our members sent $data.get("totalInvitations") invitations to their contacts.
	<br> Learn more about <a href="">"Invite a member to STN, earn membership award points"</a> program.
	#end
	
	#if ($data.get("totalNewMembers") > 0 ) 
	<br> - We have $data.get("totalNewMembers") new members join our chapter.
	<br> Learn more about <a href="">"Connect with a member, earn membership award points"</a> program.
	#end

	#if ($data.get("totalGuests") > 0 ) 
	<br> - We are expecting $data.get("totalGuests") guest members at this meeting. 
	<br> Learn more about <a href="">"bring a guest, earn membership award points"</a> program.
	#end

	#if ($data.get("totalReferrals") > 0 ) 
	<br> - Our members have exchanged $data.get("totalReferrals") referrals for their business. 	 
	<br> Learn more about <a href="">offering and receiving referrals</a> with our members.
	#end

	<p> <strong>Meeting Details : </strong>
	
	<div style="font-size:12px;color:blue">
	<br>$data.get("title")
	<br>$data.get("datetime")
	<br>$data.get("locationName")
	<br>$data.get("streetAddress1_work")
	<br>$data.get("cityAddress_work") $data.get("stateAddress_work") $data.get("postalCodeAddress_work") 
	</div>

	<p>Would you like to check in into this meeting ? </p>

	<div style="width: 290px; margin: 50px auto 30px;"><a style="display:block; color: #FFF; background-color: #e39720; border-radius: 5px; -moz-border-radius: 5px; font-size: 18px; line-height: 70px; width: 290px; height: 70px; text-align: center; text-decoration: none" href="$com.get("rootUrl")/login.jsp">LOGIN NOW</a></div>

	<br>thank you! 
	<br>$data.get("businessName")

</div>
</div>
</body>
</html>