<html>
<style>

</style>
<body style="font-family: arial;max-width: 700px;">
<div class="heading" style="color: #343B7A;font-family: impact,Verdana;font-weight:bold;font-size: 24pt;text-transform: uppercase;">
STN Connect Referral Leaders
</div>
<div class="heading2" style="color:#E49D21;font-size:18pt;max-width:700px;">
<span class="dark-blue" style="color:#343B7A;font-size: 14pt;font-style: italic;">for the week ending</span> Saturday April 12, 2014
</div>
<div class="intro" style="margin-top: 20px;color: #466BB0;max-width:700px;">
Each week Successful Thinkers recognizes those movers and shakers who created the most business opportunities for everyone else.<p>Join us in congratulating those individuals who gave the most prospect referrals last week!
</div>
<div class="top-referral-member" style="margin-top: 15px;box-shadow: 5px 5px 10px #808080;padding: 10px;min-height: 90px;max-width:700px;">
	<div style="float:left">
		<div class="rank-label" style="	font-size: 8pt;width: 50px;text-align: center;color: #808080;">Rank</div>
		<div class="rank" style="background-color: lightgray;font-size: 52pt;border:1px solid gray;border-radius: 8px;float: left;min-width: 50px;text-align: center;margin-right: 20px;color:#466BB0;">1</div>
		<div class="profile-pic" style="display: inline-block;vertical-align: top;width: 80px;overflow: hidden;float: left;background-color: #808080;text-align: center;margin-right:10px;">
			<img src="https://dx34cththhk0r.cloudfront.net/cuSywwqyyWQQLowtEVdWltzt" class="profilePhoto" style="height:80px;max-height:80px;">
		</div>
	</div>
	<div class="member-info" style="margin-top:10px">
		<div class="member-name" style="font-size: 13pt;font-family: impact,Verdana;font-weight:bold;color: #343B7A;">Lisa Amos</div>
		<div class="company-chapter" style="color:#E49D21">
			<span class="chapter" style="color:#466BB0;">Fresno Successful Thinkers</span>
		</div>
		
		<div class="bio" style="font-size: 10pt;clear:right">
			After having a heart attack and being forced to change my health; I found a comprehensive and complete physician lead, clinically proven program and lost 52 lbs! I have also kept my weight off for over 4 years & eliminated 12 medications!

			I decided to...
		</div>
	</div>
</div>
<div class="top-referral-member" style="margin-top: 15px;box-shadow: 5px 5px 10px #808080;padding: 10px;min-height: 90px;max-width:700px;">
	<div style="float:left">
		<div class="rank" style="background-color: lightgray;font-size: 52pt;border:1px solid gray;border-radius: 8px;float: left;min-width: 50px;text-align: center;margin-right: 20px;color:#466BB0;">2</div>
		<div class="profile-pic" style="display: inline-block;vertical-align: top;width: 80px;overflow: hidden;float: left;background-color: #808080;text-align: center;margin-right:10px;">
			<img src="http://m.c.lnkd.licdn.com/mpr/mprx/0_VoW0f8jMM0SuokvX4fEhfGJeUpVTokqXZIg8fisMkJalzhikn2M1T_aBvtsYW_zHRdw3hkkz3ZSf" class="profilePhoto" style="height:80px;max-height:80px;">
		</div>
	</div>
	<div class="member-info" style="vertical-align: top;">
		<div class="member-name" style="font-size: 13pt;font-family: impact,Verdana;font-weight:bold;color: #343B7A;">Anthony Mitchel</div>
		<div class="company-chapter" style="color:#E49D21">
			<span class="company" style="padding-right:20px;white-space:nowrap">Anthony C. Mitchell Enterprises</span>
			<span class="chapter" style="color:#466BB0;">Vacaville Successful Thinkers</span>
		</div>
		<div class="bio" style="font-size: 10pt;">
			I was born in Memphis but grew up all around the world because my parents were in the military.  I've lived in Japan, Okinawa, Taiwan, Mexico City, Germany, France, Spain, Argentina, and all around the United States. I've been happily married for 22 years...
		</div>
	</div>

</div>

<div class="top-referral-member" style="margin-top: 15px;box-shadow: 5px 5px 10px #808080;padding: 10px;min-height: 90px;max-width:700px;">
	<div style="float:left">
		<div class="rank" style="background-color: lightgray;font-size: 52pt;border:1px solid gray;border-radius: 8px;float: left;min-width: 50px;text-align: center;margin-right: 20px;color:#466BB0;">3</div>
		<div class="profile-pic" style="display: inline-block;vertical-align: top;width: 80px;overflow: hidden;float: left;background-color: #808080;text-align: center;margin-right:10px;">
			<img src="https://dx34cththhk0r.cloudfront.net/EpZkplInrSLqZhsVmoYbmgvU" class="profilePhoto" style="height:80px;max-height:80px;">
		</div>
	</div>
	<div class="member-info" style="vertical-align: top;">
		<div class="member-name" style="font-size: 13pt;font-family: impact,Verdana;font-weight:bold;color: #343B7A;">Judi Urbanik</div>
		<div class="company-chapter" style="color:#E49D21">
			<span class="company" style="padding-right:20px;white-space:nowrap">Prudential California Realty</span>
			<span class="chapter" style="color:#466BB0;">Benicia Successful Thinkers</span>
		</div>
		<div class="bio" style="font-size: 10pt;">
			Judi has lived and worked in Solano County for over 30 years. She moved to Benicia with her husband in 1978 to raise their two daughters. After the children were grown she moved to Vacaville and currently enjoys country-living on a ranchette in rural...
		</div>
	</div>

</div>

<div class="top-referral-member" style="margin-top: 15px;box-shadow: 5px 5px 10px #808080;padding: 10px;min-height: 90px;max-width:700px;">
	<div style="float:left">
		<div class="rank" style="background-color: lightgray;font-size: 52pt;border:1px solid gray;border-radius: 8px;float: left;min-width: 50px;text-align: center;margin-right: 20px;color:#466BB0;">4</div>
		<div class="profile-pic" style="display: inline-block;vertical-align: top;width: 80px;overflow: hidden;float: left;background-color: #808080;text-align: center;margin-right:10px;">
			<img src="https://dx34cththhk0r.cloudfront.net/FbNEUaWQQSlVHaylnLiVOCWk" class="profilePhoto" style="height:80px;max-height:80px;">
		</div>
	</div>
	<div class="member-info" style="vertical-align: top;">
		<div class="member-name" style="font-size: 13pt;font-family: impact,Verdana;font-weight:bold;color: #343B7A;">Faith Moore- McKinney</div>
		<div class="company-chapter" style="color:#E49D21">
			<span class="company" style="padding-right:20px;white-space:nowrap">Author-Speaker, Schmingling</span>
			<span class="chapter" style="color:#466BB0;">Indianapolis Successful Thinkers</span>
		</div>
		<div class="bio" style="font-size: 10pt;">
			Faith McKinney, Author of Schmingling, has been featured in The Wall Street Journal, Ebony magazine, FarnooshTV, Loop21 and many more!
		</div>
	</div>

</div>

<div class="top-referral-member" style="margin-top: 15px;box-shadow: 5px 5px 10px #808080;padding: 10px;min-height: 90px;max-width:700px;">
	<div style="float:left">
		<div class="rank" style="background-color: lightgray;font-size: 52pt;border:1px solid gray;border-radius: 8px;float: left;min-width: 50px;text-align: center;margin-right: 20px;color:#466BB0;">5</div>
		<div class="profile-pic" style="display: inline-block;vertical-align: top;width: 80px;overflow: hidden;float: left;background-color: #808080;text-align: center;margin-right:10px;">
			<img src="http://dx34cththhk0r.cloudfront.net/STN/mv/52fed02fe4b0c9fe54b15200/Ryan%20casual%20small.jpg" class="profilePhoto" style="height:80px;max-height:80px;">
		</div>
	</div>
	<div class="member-info" style="vertical-align: top;">
		<div class="member-name" style="font-size: 13pt;font-family: impact,Verdana;font-weight:bold;color: #343B7A;">Ryan Layne</div>
		<div class="company-chapter" style="color:#E49D21">
			
			<span class="chapter" style="color:#466BB0;">Charleston Successful Thinkers</span>
		</div>
		<div class="bio" style="font-size: 10pt;">
			Aegis Identity Group
		</div>
	</div>

</div>





<div class="postscript" style="	color:#466BB0;	margin-top: 25px;max-width:700px">
	To learn more about -- and connect with -- the individuals featured here, look for them in the STN Connect membership directory or drop by the next meeting of their home chapter and introduce yourself.
	<div style="color:#E49D21;font-size:16pt;font-weight:bold;text-align:center;padding-top:10px;padding-bottom:10px">Want Your Profile to Appear on this List?</div>
	<div style="color:black;font-size:10pt;text-align:center;"> It's as easy as sending a referral!  Learn more by visiting the web page below.</div>
	<div style="text-align:center;margin-top:20px;margin-bottom:20px">
	<a style="padding:12px;font-size:12pt;background-color:#E49D21;color:white;text-decoration:none;text-align:center;width:100px;border-radius:8px;" target="_blank" href="http://resource.successfulthinkersnetwork.com/index.php/refer-a-friend/">Learn More</a>
	</div>
</div>

</body>
</html>