<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome to Successful Thinkers</title>
</head>

<body>

<div style="background-color: #466bb0; width: 100%; margin:0; padding:0; font-family:arial; font-size: 12px;">

<div style="width: 648px; margin: 0 auto;"><img src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/email-header_invitation.jpg" width="648" height="90" alt=""/></div>
<div style="width: 588px; margin: 0 auto 25px; padding:30px; background-color: #FFF; text-align: left; color: #818181; font-size: 16px; line-height: 20px; border-radius: 8px; -moz-border-radius: 8px;">

	<h1 style="font-size: 20px; color: #000;">Welcome, $data.get("firstName")!</h1>
	<p style="font-size:16px; color: #ef9916;"><strong>Congratulations on joining Successful Thinkers Network!</strong></p>
    <p>Here is your login information for safe keeping:</p>
    <div style="margin-left: 30px;">
    	<span style="color:#000;"><strong>Login Email:</strong></span> $data.get("login") <strong>  Note: Please make a note of this login email. </strong> This might not be your frequently used email address. If you ever forget this login email, please contact STN Support for help. <br>
        <span style="color:#000;"><strong>Password:</strong></span> $data.get("password") <strong>  Note: CONFIDENTIAL. </strong> Please save this email for your records. If you ever forget your password, you may reset it on the login screen or contact STN Support for help.
    </div>
    <p>Enjoy the premium benefits offered to all our members through our proprietary software, <span style="color: #466bb0;">STN CONNECT</span>, which may be accessed using the button below.</p>
    <p style="color: #000;"><strong>Welcome to the future of business networking!</strong></p>
    <div style="width: 290px; margin: 50px auto 30px;"><a style="display:block; color: #FFF; background-color: #e39720; border-radius: 5px; -moz-border-radius: 5px; font-size: 18px; line-height: 70px; width: 290px; height: 70px; text-align: center; text-decoration: none" 
    	href="$com.get("rootUrl")/login.jsp" target="_blank">LOGIN NOW</a></div>

    <br>thank you! 
    <br>$com.get("pageTitle")
    
</div>

<div style="width: 588px; margin: 0 auto 30px; padding:30px; background-color: #FFF; text-align: left; color: #818181; font-size: 16px; line-height: 20px; border-radius: 8px; -moz-border-radius: 8px;">
	<div style="width: 320px; margin:0 auto;"><img src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/getting-started.png" alt="Getting Started"/></div>
	<p style="margin: 0 0 40px;">Make the most out of your Successful Thinkers experience!  Here are some recommended resources to get you started:</p>
	
    <hr style="border: 1px dotted #999;">
    
    <div>
    	<a style="text-decoration: none;" href="http://help.successfulthinkersnetwork.com/index.php/quickstart-guide/" target="_blank"><img style="float:left; margin: 0 20px 15px 0; border: none;" src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/getting-started-thumbs_quickstart.jpg" width="185" height="120" alt=""/></a>
        <h2 style="font-size:20px; color: #466bb0; padding: 6px 0 0; margin: 0;"><a style="color: #466bb0; text-decoration: none;" href="http://help.successfulthinkersnetwork.com/index.php/quickstart-guide/" target="_blank">Watch the Quickstart Tour Video</a></h2>
        <p style="margin: 0;">This short video shows you the highlights of STN's premiere software. </p> 
        <div style="width: 200px; margin-top: 20px;"><a style="display:block; color: #FFF; background-color: #e39720; border-radius: 5px; -moz-border-radius: 5px; font-size: 16px; line-height: 30px; width: 200px; height: 30px; text-align: center; text-decoration: none; overflow: hidden" href="https://help.successfulthinkersnetwork.com/index.php/quickstart-guide/" target="_blank">WATCH VIDEO</a></div>
    	<div style="clear:both;"></div>
    </div>
    
    <hr style="border: 1px dotted #999;">
        
    <div>
    	<a style="text-decoration: none;" href="http://help.successfulthinkersnetwork.com/index.php/category/profile-management/" target="_blank"><img style="float:left; margin: 0 20px 15px 0; border: none;" src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/getting-started-thumbs_profile.jpg" width="185" height="120" alt=""/></a>
        <h2 style="font-size:20px; color: #466bb0; padding: 6px 0 0; margin: 0;"><a style="color: #466bb0; text-decoration: none;" href="http://help.successfulthinkersnetwork.com/index.php/category/profile-management/" target="_blank">Complete Your Profile</a></h2>
        <p style="margin: 0;">Members must have a completed profile to gain directory listing.  Fill out your bio...it’s easy!</p> 
        <div style="width: 200px; margin-top: 20px;"><a style="display:block; color: #FFF; background-color: #e39720; border-radius: 5px; -moz-border-radius: 5px; font-size: 16px; line-height: 30px; width: 200px; height: 30px; text-align: center; text-decoration: none; overflow: hidden" href="https://help.successfulthinkersnetwork.com/index.php/category/profile-management/" target="_blank">WATCH VIDEO</a></div>
    	<div style="clear:both;"></div>
    </div>
    
    <hr style="border: 1px dotted #999;">
        
    <div>
    	<a style="text-decoration: none;" href="http://help.successfulthinkersnetwork.com/index.php/category/chapters/" target="_blank"><img style="float:left; margin: 0 20px 15px 0; border: none;" src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/getting-started-thumbs_chapter.jpg" width="185" height="120" alt=""/></a>
        <h2 style="font-size:20px; color: #466bb0; padding: 6px 0 0; margin: 0;"><a style="color: #466bb0; text-decoration: none;" href="http://help.successfulthinkersnetwork.com/index.php/category/chapters/" target="_blank">Join a Local Chapter</a></h2>
        <p style="margin: 0;">Locate and visit a Chapter in your area to meet other Successful Thinkers in your neighborhood.</p> 
        <div style="width: 200px; margin-top: 20px;"><a style="display:block; color: #FFF; background-color: #e39720; border-radius: 5px; -moz-border-radius: 5px; font-size: 16px; line-height: 30px; width: 200px; height: 30px; text-align: center; text-decoration: none; overflow: hidden" href="https://help.successfulthinkersnetwork.com/index.php/category/chapters/" target="_blank">WATCH VIDEO</a></div>
    	<div style="clear:both;"></div>
    </div>
    
    <hr style="border: 1px dotted #999;">
        
    <div>
    	<a style="text-decoration: none;" href="http://resource.successfulthinkersnetwork.com/" target="_blank"><img style="float:left; margin: 0 20px 15px 0; border: none;" src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/getting-started-thumbs_resource-site.jpg" width="185" height="120" alt=""/></a>
        <h2 style="font-size:20px; color: #466bb0; padding: 6px 0 0; margin: 0;"><a style="color: #466bb0; text-decoration: none;" href="http://resource.successfulthinkersnetwork.com/" target="_blank">Visit the STN Member Resource Site</a></h2>
        <p style="margin: 0;">Stay up to date with STN, learn how to become a Speaker or even start your own STN Chapter!</p> 
        <div style="width: 200px; margin-top: 20px;"><a style="display:block; color: #FFF; background-color: #e39720; border-radius: 5px; -moz-border-radius: 5px; font-size: 16px; line-height: 30px; width: 200px; height: 30px; text-align: center; text-decoration: none; overflow: hidden" href="http://resource.successfulthinkersnetwork.com/" target="_blank">VISIT SITE</a></div>
    	<div style="clear:both;"></div>
    </div>
    
    <hr style="border: 1px dotted #999;">

            
</div>

<div style="width: 588px; margin: 0 auto 30px; padding:30px; background-color: #FFF; text-align: left; color: #818181; font-size: 16px; line-height: 20px; border-radius: 8px; -moz-border-radius: 8px;">
	<div style="width: 320px; margin:0 auto;"><img src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/need-help.png" alt="Need Help?"/></div>
	<p>If you need any help, be sure to visit our help system for videos that take you step-by-step through the process.</p>
    <p>If you experience any difficulties accessing your account or features of the STN Connect software do not appear to be functioning properly, please do not hesitate to reach out to our support team via a troubleticket on the help site, or by emailing:</p>
    <p><a href="mailto:support@successfulthinkersnetwork.com" style="color: #000; text-decoration:none;"><strong>support@successfulthinkersnetwork.com</strong></a></p>
    <div style="width: 290px; margin: 50px auto 30px;"><a style="display:block; color: #FFF; background-color: #e39720; border-radius: 5px; -moz-border-radius: 5px; font-size: 18px; line-height: 70px; width: 290px; height: 70px; text-align: center; text-decoration: none" href="http://help.successfulthinkersnetwork.com/" target="_blank">STN HELP SITE</a></div>
</div>

</div>
</body>
</html>
