<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">

<div class="latest-news">
    <div class="latest-news-img">Zlhs $.getImageWithId(model,'picture','<%= rwFB.CDN%>/images/emptyPic.png','','upsertBanner')Zrhs</div>
    <div class="latest-news-content">
    	<h1>Zlhs model.get('headline')Zrhs</h1>
        <div class="latest-news-text">Zlhs $.getFormattedValInner(model.get('body'),'\n','<p>','') Zrhs</div>
        <div class="latest-news-text signature">Zlhs model.get('signature')Zrhs</div>
    	<div class="clear"></div>
    </div>
</div>