<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div id="Header" style="position:relative; width: 98%;height:96%;left:1%;margin-top:1%; background-color:white;z-index:2001;">
<div width="100%" class="reset-password-header">
<span class="reset-password-title">Reset Password</span>
<a  class="button reset-password-cancel" id="CancelResetTxn">Cancel</a>
</div>

<div id="Step1" class="reset-password-content">
<table align="center" style="background:white;">
<tr>
<td align="right">

<div class="registerField"> 
	<div class="pass-reset register-field-label">
			<label id="emailLabel" onclick="" for="email" class="emailLabel">Your Login Email:</label> 
	</div>
	<div  class="pass-reset register-field-input">
	 	<input style="font-size:14pt;font-weight:bold" type="email" name="resetpw_login" id="resetpw_login" value="" placeholder="Login email - required"/>
	</div>
</div>


</td>
</tr>

<tr align="center"> <td colspan=2><hr></td> </tr>

<tr>
<td colspan="2" align="center">
<a href="#" id="confirmLogin" class="button">Confirm</a>
</td>
</tr>

</table>
</div>

<div id="Step2" class="reset-password-content" style="display:none">

<table align="center"  width="100%">

<tr>
<td align="center" class="reset-password-next-steps">An Email will be sent to your email address on the record. It may take several minutes to receive password reset emails. Please check it for a new password. We recommend you change the password as soon as possible. </td>
</tr>
 
<tr> <td colspan=2 align="center"><hr></td> </tr>
<tr align="center"><td colspan=2 class="reset-password-confirm"><a href="#" id="resetPassword" class="button">Yes, Please Reset my password</a></td></tr>
</table>    

</div>

</div>


