<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:34:59 GMT">
	
	<div class="link">

	<a href="#EventExpected/Zlhs model.get('eventId')Zrhs">

	<div class="date-container">
	    	<div class="day">Zlhs $.getDateElement(model,"datetime","day")Zrhs</div>
	        <div class="date">Zlhs $.getDateElement(model,"datetime","date") Zrhs</div>
	    </div>
	    <div class="stn-info">
	    	<h1>Zlhs $.getMonthAndDate(model,'datetime') Zrhs @ Zlhs $.getTimeString(model,'datetime')Zrhs</h1>
	    	<div class="speaker">Speaker: Zlhs model.get('speaker1_fullName') Zrhs</div>
	    	<div class="clear"></div>
	    </div>
	    <div class="clear"></div>
	</a>
	</div>









