<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:34:59 GMT">
		    <div class="welcome-container">
    
        <h1>Welcome to <span>STN CONNECT</span></h1>
        <div class="welcome-descr">Now that you officially have an account setup, we recommend you do the following:</div>
        
        <div class="col-container">
            
            <div class="col">
                <div class="col-img"><img src="<%= rwFB.CDN%>/STN/Images/welcome-icon_01.jpg" width="260" height="170" alt=""/></div>
                <div class="col-title">Watch the Quickstart Video</div>
                <div class="col-content">This short video shows you the highlights of STN's premiere software.</div>
                <div class="btn"><a href="http://help.successfulthinkersnetwork.com/index.php/quickstart-guide/" target="_blank">Watch Video</a></div>
                <div class="link"></div>
            </div>
            
            <div class="col">
                <div class="col-img"><img src="<%= rwFB.CDN%>/STN/Images/welcome-icon_02.jpg" width="260" height="170" alt=""/></div>
                <div class="col-title">Complete Your Profile</div>
                <div class="col-content">Members must have a completed profile to gain directory listing.</div>
                <div class="btn"><a href="#Profile">My Profile</a></div>
                <div class="link"><a href="http://help.successfulthinkersnetwork.com/index.php/category/profile-management/" target="_blank">Watch Tutorial Video</a></div>
            </div> 
                   
            <div class="col">
                <div class="col-img"><img src="<%= rwFB.CDN%>/STN/Images/welcome-icon_03.jpg" width="260" height="170" alt=""/></div>
                <div class="col-title">Join a Chapter</div>
                <div class="col-content">Locate and visit a Chapter in your area now.</div>
                <div class="btn"><a href="#OrgListMap">Chapters</a></div>
                <div class="link"><a href="http://help.successfulthinkersnetwork.com/index.php/category/chapters/" target="_blank">Watch Tutorial Video</a></div>
            </div>
    
        	<div style="clear:both"></div>
        </div>
        
        <div class="extra-container">
        
            <div class="col">
                <div class="col-img"><img src="<%= rwFB.CDN%>/STN/Images/member-resource-site-thumb.jpg" width="149" height="89" alt=""/></div>
                <div class="col-title">Member Resource Site</div>
                <div class="col-content">
                    Stay up to date on the latest and greatest with STN, learn how to become a Speaker or even start your own STN Chapter!<br>
                    <a href="http://resource.successfulthinkersnetwork.com/" target="_blank">VISIT SITE</a>
                </div>
            </div>
    
            <div class="col">
                <div class="col-img"><img src="<%= rwFB.CDN%>/STN/Images/help-site-thumb.jpg" width="149" height="89" alt=""/></div>
                <div class="col-title">STN Help System</div>
                <div class="col-content">
                    If you need any help, be sure to visit our help system for videos that take you step-by-step through the process.<br>
                    <a href="http://help.successfulthinkersnetwork.com/" target="_blank">VISIT SITE</a>
                </div>
            </div>
        
        	<div style="clear:both"></div>
        </div>
    
    </div>





