<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:34:59 GMT">
<div data-role="header" class="catalogHeader ui-header ui-bar-a directory" role="banner" style="height:50px;text-align:center">
		<div id="navigationButton" class="button menuLaunch">Menu</div>
		<div class="headerLogo"><img src="<%= rwFB.CDN%>/STN/Images/logo.png" alt="Successful Thinkers Network"></div>
		<nav>
            <ul>
            	<li><a href="#Profile">My Account</a></li>
                <li><a href="#signout">Logout</a></li>
            </ul>
        </nav>
</div>

<div style="overflow-y:scroll;bottom:0" class="mainPanelBody">
	
	
	<div class="content-wrapper-dir">
    	<div class="main-content-container-dir shadow">
        	
            <!-- Left Navigation -->
            <div class="category-header">Browse</div>
            <div class="left-nav-light-dir">
            	<ul>
					<li class="dir-cat" category="ACCTING"><img src="<%= rwFB.CDN%>/images/directory/Accounting.png"><span>Accounting</span></li>
					<li class="dir-cat" category="ADVERT"><img src="<%= rwFB.CDN%>/images/directory/Advertising.png"><span>Advertising</span></li>
					<li class="dir-cat" category="APPEAR"><img src="<%= rwFB.CDN%>/images/directory/Appearance.png"><span>Appearance</span></li>
					<li class="dir-cat" category="ARCH"><img src="<%= rwFB.CDN%>/images/directory/Architectural.png"><span>Architectural</span></li>
					<li class="dir-cat" category="AUTO"><img src="<%= rwFB.CDN%>/images/directory/Auto.png"><span>Automotive</span></li>
					<li class="dir-cat" category="BUSINESS"><img src="<%= rwFB.CDN%>/images/directory/Business.png"><span>Business</span></li>
					<li class="dir-cat" category="CLEANING"><img src="<%= rwFB.CDN%>/images/directory/Clean.png"><span>Cleaning</span></li>
					<li class="dir-cat" category="COMPUTER"><img src="<%= rwFB.CDN%>/images/directory/Computers.png"><span>Computer</span></li>
					<li class="dir-cat" category="EMPLOY"><img src="<%= rwFB.CDN%>/images/directory/Employment.png"><span>Employment</span></li>
					<li class="dir-cat" category="FINS"><img src="<%= rwFB.CDN%>/images/directory/Financial.png"><span>Financial</span></li>
					<li class="dir-cat" category="FOOD"><img src="<%= rwFB.CDN%>/images/directory/Food-Beverages.png"><span>Food and Beverages</span></li>
					<li class="dir-cat" category="GIFT"><img src="<%= rwFB.CDN%>/images/directory/Gift.png"><span>Gifts</span></li>
					<li class="dir-cat" category="DESIGN"><img src="<%= rwFB.CDN%>/images/directory/Design.png"><span>Design</span></li>
					<li class="dir-cat" category="HEALTH"><img src="<%= rwFB.CDN%>/images/directory/Health-Wellness.png"><span>Health and Wellness</span></li>
					<li class="dir-cat" category="INSURE"><img src="<%= rwFB.CDN%>/images/directory/Insurance.png"><span>Insurance</span></li>
					<li class="dir-cat" category="LEGAL"><img src="<%= rwFB.CDN%>/images/directory/Legal.png"><span>Legal</span></li>
					<li class="dir-cat" category="MORTGAGE"><img src="<%= rwFB.CDN%>/images/directory/Mortgage.png"><span>Mortgage</span></li>
					<li class="dir-cat" category="NONPROF"><img src="<%= rwFB.CDN%>/images/directory/Non-Profit-Organization.png"><span>Non Profit Organization</span></li>
					<li class="dir-cat" category="PEST"><img src="<%= rwFB.CDN%>/images/directory/Pest-Control.png"><span>Pest Control</span></li>
					<li class="dir-cat" category="PHOTO"><img src="<%= rwFB.CDN%>/images/directory/Photography.png"><span>Photography</span></li>
					<li class="dir-cat" category="PRINT"><img src="<%= rwFB.CDN%>/images/directory/Printing.png"><span>Printing</span></li>
					<li class="dir-cat" category="REALEST"><img src="<%= rwFB.CDN%>/images/directory/RealEstate.png"><span>Real Estate</span></li>
					<li class="dir-cat" category="TELECOM"><img src="<%= rwFB.CDN%>/images/directory/Telecommunications.png"><span>Telecommunications</span></li>
					<li class="dir-cat" category="TRADES"><img src="<%= rwFB.CDN%>/images/directory/Trades.png"><span>Trades</span></li>
					<li class="dir-cat" category="OTHER"><img src="<%= rwFB.CDN%>/images/directory/Other.png"><span>Other</span></li>

                    

                    
                </ul>
            </div>    
            <!-- END Left Navigation -->
            
            <!-- Main Content Area -->
            <div class="content-area">
            
            	<!-- Welcome Message -->
            	
                
                <div class="directory-welcome">
                	<img src="images/directory/briefcase.jpg">
                	<div class="host-title">successful thinkers network</div>
                	<div class="page-title">Business Directory</div>
                </div>
                
                <div class="directory-searchform">
                	<div class="directory-search-label">Search</div>
                	<div class="directory-search-input">
                		<input class="directory-search-input-business" type="text" placeholder="services offered">
                		<span>near</span> 
                		<input class="directory-search-input-zip" type="text" placeholder="zip code">
                		<span class="directory-go-button searchDirectory">Go!</span>
                	</div>
                </div>
                <div class="directory-addyourbiz">
                	<div class="addyourbiz-title">Add Your Business Free</div>
                	<div class="addyourbiz-subtitle">It appears you have not yet listed your business in the STN Business Directory.  Adding your business is fast, easy and free!</div>
                	<div class="addyourbiz-button">Add My Business</div>
                </div>
                
                
                <!-- Latest News -->
                
                
                <!-- END Recent Activity -->
                
            </div>
            <!-- END Main Content Area -->
            
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="right-content-dir shadow">
    
    	<div id="HomePageUserSummary" section applet="" template="STN_HomePageUserProfile" renderer="SimpleView" model="self"></div>     

    	<!-- Upcoming Events Container -->
        <div class="dashboard-events-container">
        	<div class="header">
            	<h1>Upcoming Events</h1>
                <!-- <div class="action"><a href="#">more events</a></div> -->
                <div class="clear"></div>
            </div>
            <!-- 
            <div id="UpcomingEvents" section applet="MyUpcomingEvents" template="STN_EventHomeList" options="filter=false,noRecordsMsg='You have no upcoming events'" renderer="ListView" model="StandardCollection" sortBy="datetime" sortDir="ASC"></div>
             -->
	
        </div>
        <!-- END Upcoming Events Container -->     
		<div class="expand-network">
			<h1>Expand your network!</h1>
			<div>
				<a href="#facebook/<%= rwFB.uId %>"><img src="<%= rwFB.CDN%>/STN/Images/btn_expand-network_facebook.png"></a>
			</div>
			<div>
				<a href="#invite_linkedin/<%= rwFB.uId %>"><img src="<%= rwFB.CDN%>/STN/Images/btn_expand-network_linkedIn.png"></a>
			</div>
			<div>
				<a href="#partnerList"><img src="<%= rwFB.CDN%>/STN/Images/btn_expand-network_import.png"></a>
			</div>
			<!-- 
			<div style="margin-left:50px;margin-right:50px;text-align:left;margin-top:5px">
                <h1> Your Code : <%= rwFB.InvitationCode%> </h1>
                <div id='SocialBar'>
                    <div class="fb-share-button" data-href="<%= rwFB.InvitationLink%>" data-type="button"></div>
                    <script type="IN/Share"></script>
                    <a title="E-Mail" href="mailto:?subject=Here is your invitation to join <%= rwFB.rwTenantDisplayName %>&body=Hi,<%= rwFB.InvitationLink%>"><img style="width:20;margin-left:10px" atl="E-Mail" src="/images/icons/sendLetterIconSmallBlack.png"/></a>
                </div>
            </div>
             -->            
		</div>
    </div>
			
</div>			
<div id="WelcomePage" class="popupApplet welcomeContainer" style="display:none"></div>	
<div id="HomeModalBackground" style="display:none"></div>	

