<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="height:100%;width:100%;position:relative;border-radius:4px">
	<div class="confirmHeader">

				<a confirmevent="cancel" id="cancelPick" class="button" style="float:left">Cancel</a>
				<span id="pickTitle" class="confirmTitle">Confirm Contact Enrichment</span>
		

	</div>

	<div class="confirmBody">

		<table width="100%">
			<tr>
				<td width="50%" style="text-align:right">
					<img src="<%= rwFB.CDN%>/images/enrichConfirmation.jpg"  style="width:80%;padding-right:15px">
				</td>
				<td>
					<div class="confirmMsgSmall">Enriching your contacts will add pictures and other information to their profiles. It will not overwrite existing information. <p></p>This process may take several minutes.  You'll be notified by email when it's complete. Press "Start" to proceed.</div>
					<div confirmevent="EnrichAll" class="button confirmButton">Start</div>
				</td>
			</tr>
		</table>
		<div class="confirmFooter">
		
		</div>
	</div>
</div>