<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="height:100%;width:100%;position:relative;border-radius:4px">
	<div class="confirmHeader">

				<a confirmCancel class="button" style="float:left">Cancel</a>
				<span id="pickTitle" class="confirmTitle">Save Filter</span>
		

	</div>

	<div class="confirmBody">

		<table width="100%">
			<tr>
				<td width="50%" style="text-align:right">
					<img src="<%= rwFB.CDN%>/images/save.jpeg"  style="width:80%">
				</td>
				<td>
					<div class="confirmationInstructions">
					<div>To save this filter as a favorite, give it a name and click save</div>
				</div>
				<div class="confirmationInput"><input type="text" id="ssName"/></div>
				<div confirmSave class="button confirmButton">Save</div>
				</td>
			</tr>
		</table>
		<div class="confirmFooter">
		
		</div>
	</div>
</div>

