<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="height:100%;width:100%;position:relative;border-radius:4px">
	<div class="confirmHeader">

				<a confirmevent="cancel" id="cancelPick" class="button" style="float:left">Cancel</a>
				<span id="pickTitle" class="confirmTitle">Join Chapter</span>
		

	</div>

	<div class="confirmBody">

		<table width="100%">
			<tr>
				<td width="50%" style="text-align:right">
					<img src="<%= rwFB.CDN%>/images/joinConfirmation.jpg"  style="width:80%">
				</td>
				<td>
					<div class="confirmMsg">Do you want to join this chapter?</div>
					<div confirmevent="save" class="button confirmButton">Yes</div>
				</td>
			</tr>
		</table>
		<div class="confirmFooter">
		
		</div>
	</div>
</div>