<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="height:100%;width:100%;position:relative;border-radius:4px">
	<div class="confirmHeader">

				<a confirmevent="cancel" id="cancelPick" class="button" style="float:left">Cancel</a>
				<span id="pickTitle" class="confirmTitle">Billing Confirmation</span>
		

	</div>

	<div class="confirmBody">

		<table width="100%">
			<tr>
				<td width="50%" style="text-align:center">
					<img src="<%= rwFB.CDN%>/images/icons/confirmIcon.jpg"  style="width:70%">
				</td>
				<td>
					<div class="confirmMsg" style="font-size:16pt">By clicking "Okay" you agree to ReferralWire's <a href="/static/TermsOfUse.html" target="_blank">terms of use</a> and <a href="/static/PrivacyPolicy.html" target="_blank">privacy policy</a></div>
					<div confirmevent="confirmPayPal" class="button confirmButton">Okay</div>
				</td>
			</tr>
		</table>
		<div class="confirmFooter">
		
		</div>
	</div>
</div>