<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="height:100%;width:100%;position:relative;border-radius:4px">
	<div class="confirmHeader">

				<span id="pickTitle" class="confirmTitle">CSV download in Progress</span>
		

	</div>

	<div class="confirmBody" style="padding-top:0">

		<table style="width:100%;height:100%">
			<tr>
				<td width="50%" style="text-align:center">
					<img width="40px" height="40px" src="<%= rwFB.CDN%>/images/progressSpinner.gif">
				</td>
				<td>
					<div class="confirmMsg" style="line-height:18px;font-size:12pt">We're downloading member's CSV now! This may take a couple minutes.</div>
				</td>
			</tr>
		</table>
		<div class="confirmFooter">
		
		</div>
	</div>
</div>