<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">

	<div style="width:100%;height:100%" style="border-spacing:0;" >
		<div class="leftPanel">
			<div style="position:relative;width:100%;height:100%">
					<div class="rwLeftPanelHeader">
						 <a class="header-home-link" href="#home"><img src="<%= rwFB.CDN%>/images/icons/homeIconSmall.png"></a>
						 <div id="navigationButton" class="button menuLaunch">Menu</div>
						 <div class="rwName beta">
							  <div class="rwName-label">Successful Thinkers</div>
							  <div class="rwName-beta">Beta 1.1</div>
						 </div>
											
					</div>
					
					<div style="position:absolute;top:50px;bottom:0;width:100%" class="listViewListContainer directory">
						<div class="resultsSummary list"><span class="resultCount">Results</span></div>
						<div class="resultsSummary-detail list"></div>resultsSummary-detail
						<%= listview %>
					</div>
			</div>
		</div>
		<div class="rightPanel">
			<div style="position:relative;width:100%;height:100%">
				<div class ="mainPanelHeader" style="text-align:center;padding-top: 12px;height: 38px;">
				
					 <span class="rw_appletMenu" style="float:left">
					 	<%= render.options.appletMenu.render().el.outerHTML %>
					 </span>
					 <span style="position:absolute;left:50%">
					 	<div style="position:relative;left:-50%;font-size:18pt;">
					 		<%= title%>
					 	</div>
					 	
					 </span>
					 <span class="rightMenu">
						<%= ($.hasVal(render.options.appletMenuRight))?render.options.appletMenuRight.render().el.outerHTML:"" %>
						<span class="<%=$.getFormattedVal(render.options.tooltipSource,'tooltip','hidden')%>" tooltipSource="<%=$.getAltValue(render.options.tooltipSource,'') %>">
							<img src="<%= rwFB.CDN%>/images/icons/helpInfo.png" class='contextHelp'>
						</span>
						
					 </span>
				</div>
				<div class="mainPanelBody" style="bottom:0">
					

					<div class="profilePlatter-Dir" style="top:10px;bottom:20px">
	
	                <div class="directory-welcome results">
	                	<img src="<%= rwFB.CDN%>/images/directory/briefcase.jpg">
	                	<div class="host-title">successful thinkers network</div>
	                	<div class="page-title">Business Directory</div>
	                </div>
	                <div class="secondTierNav directory">
						<%= secondTierNav %>
					</div>
	                <hr class="clear orange" style="height:3px;margin-bottom:8px"/>
	                <div class="resultsSummaryFrame">
	                	<div class="resultsSummary"><span class="resultCount">Results</span>
		                </div>
		                <div class="resultsSummary-detail">
		                </div>
	                </div>
	                
					<div id="listMap"></div>

					</div><!-- close the platter -->
				 	
				</div> <!-- close the main Panel body -->
				
				<div id="SavedSearchContainer" class="savedSearch upsertContainer" style="display:none"></div>
			</div>
			</div>  <!-- close the main Panel -->
		
	</div>




