<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">


<div class="closeMenu" style="height: 50px;background-color: #000;position: absolute;top: 0;left: 0;right: 0;"><a class="closeMenu" data-rel="close">
				<img src="<%= rwFB.CDN%>/images/icons/closeIconWhite.png" ><span>Close Menu</span></a>
				</div>
				<div style="position:absolute; top:50px;left:0;right:0;">

						<div id="homeMenu" class="topMenuItem">
							<div class="menuItemDetail" route="#home">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/homeIconSmall.png">
								<span>Home</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>
						
						<div  class="topMenuItem" group="peopleGroup">
							<div id="peopleGroup" class="menuItemDetail" route="expand">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/peopleGroup.png">
								<span>People</span>
								<img class="menuToggle" src="<%= rwFB.CDN%>/images/icons/expandIconWhite.png">
							</div>
							<div id="peopleGroup_sub" class="subMenus">
								<div class="menuItemDetail" route="#partnerList">
									<img class="menuIcon" style="height:auto;top:20px" src="<%= rwFB.CDN%>/images/icons/contactCardsBlack.png">
									<span>Address Book</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>
								<!-- 
								<div class="menuItemDetail" route="#profileTarget">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/prospectFinderBlack.png">
									<span>Prospect Finder</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>
								 -->
								 <div class="menuItemDetail" route="#speakerList">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/speakersBlack.png">
									<span>Registered Speakers</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>
								<div class="menuItemDetail" route="#memberList">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/allMembersBlack.png">
									<span>All Members</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>
							</div>
							
						</div>
						
						
						<div id="chaptersMenu" class="topMenuItem">
							<div class="menuItemDetail" route="#OrgList">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/chaptersWhite.png">
								<span>Chapters</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>
						

						<div id="myAccount"  class="topMenuItem" group="myAccountGroup">
							<div id="myAccountGroup" class="menuItemDetail" route="expand">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/accountSettings.png">
								<span>My Account</span>
								<img class="menuToggle" src="<%= rwFB.CDN%>/images/icons/expandIconWhite.png">
							</div>
							<div id="myAccountGroup_sub" class="subMenus">
								<div class="menuItemDetail" route="#Profile">
									<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/accountSettingsBlack.png">
									<span>My Account</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>
								
								<div class="menuItemDetail" route="#referralInbox">
									<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/referralSmallBlack.png">
									<span>Referrals</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>
								<div class="menuItemDetail" route="#stats">
									<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/dataQualityBlack.png">
									<span>Data Quality</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>								

							</div>
						</div>
						
						<div id="help" class="topMenuItem">
							<div class="menuItemDetail" route="/Help/gettingStarted.html">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/helpInfo.png">
								<span>Help</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>
						

						<div  class="topMenuItem" group="adminGroup">
							<div id="adminGroup" class="menuItemDetail" route="expand">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/settingsIconSmall.png">
								<span>App Admin</span>
								<img class="menuToggle" src="<%= rwFB.CDN%>/images/icons/expandIconWhite.png">
							</div>
							<div id="adminGroup_sub" class="subMenus">
								<div class="menuItemDetail" route="#professionList">
									<img class="menuIcon" style="height:auto;top:20px" src="<%= rwFB.CDN%>/images/icons/contactCardsBlack.png">
									<span>Professions</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>
								<div class="menuItemDetail" route="#criteriaList">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/prospectFinderBlack.png">
									<span>Criteria</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>
								<div class="menuItemDetail" route="#infoConnectList">
									<img class="menuIcon"  src="<%= rwFB.CDN%>/images/icons/3DBoxBlack.png">
									<span>InfoConnect</span>
									<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateBlackIcon.png">
								</div>
							</div>
							
						</div>
						 	
						<div id="logout" class="topMenuItem">
							<div class="menuItemDetail" route="#signout">
								<img class="menuIcon" src="<%= rwFB.CDN%>/images/icons/logoff.png">
								<span>Log Out</span>
								<img class="menuNavigate" src="<%= rwFB.CDN%>/images/icons/navigateWhiteIcon.png">
							</div>
						</div>
						 

		         </div>

