
<!-- wizard shopping -->

	<div id="wizardAssoc">
			<div id="leftTitle" class="wizardViewAssocTitle" style="right:51%;left:5px">
			<div id="addAll" class="button wizardViewMultiRecordButton addAll">Add All</div>
			All Customer Segments
			</div>	
			<div id="assocFrame" class="wizardViewAppletFrame shopping" style="overflow-y:hidden; right:51%">
				<%= fromListHTML %>
			</div>
			<div id="rightTitle" class="wizardViewAssocTitle" style="left:51%;right:5px">
			<div id="removeAll" class="button wizardViewMultiRecordButton addAll">Remove All</div>
			My Target Segments
			</div>
			<div id="cartFrame" class="wizardViewAppletFrame shopping" style="overflow-y:hidden; left:51%">
				<%= toListHTML %>
			</div>
	</div>
