   	<div data-role="header" class="navPopHeader">
   		<a href="#" data-role="button" data-icon="delete" data-theme="a" id="closeNavPop">Close</a>
   	</div><!-- /header -->


   	<div data-role="content" class="navBarList"> 

       <ul data-role="listview">
       	 <li><a class="navigate"><img src="<%= rwFB.CDN%>/images/icons/111-user@2x.png" class="navBarListIcon">Contacts</a></li>
           <li><a href="#partyrw" rel="external"><img src="<%= rwFB.CDN%>/images/icons/300-orgchart@2x.png" class="navBarListIcon">Organizations</a></li>
       	 <li><a href="#contactList" rel="external"><img src="<%= rwFB.CDN%>/images/icons/111-user@2x.png" class="navBarListIcon">Contacts</a></li>
           <li><a href="#OrgList" rel="external"><img src="<%= rwFB.CDN%>/images/icons/300-orgchart@2x.png" class="navBarListIcon">Organizations</a></li>
           <li><a href="#AssocList" rel="external"><img src="<%= rwFB.CDN%>/images/icons/300-orgchart@2x.png" class="navBarListIcon">Associations</a></li>
           <li><a href="#referralOfferList" rel="external"><img src="<%= rwFB.CDN%>/images/icons/carotIconBlack.png" class="navBarListIcon">Referral Offers</a></li>
           <li><a href="#contactsrw" rel="external"><img src="<%= rwFB.CDN%>/images/icons/083-PushPin@2x.png" class="navBarListIcon">Engagements</a></li>
  		   <li><a href="#" viewname="CategoryListView" rel="external" action="gotoListView"><img src="<%= rwFB.CDN%>/images/icons/083-PushPin@2x.png" class="navBarListIcon">Catalog Admin</a></li>
           <li><a href="#Profile" rel="external"><img src="<%= rwFB.CDN%>/images/icons/MyProfile_Jumbo.png" class="navBarListIcon">Update Profile</a></li>
       </ul>
     </div><!-- /content -->

   	<div data-role="footer" data-position="fixed" data-id="ew-footer">
   	</div><!-- /footer -->

