

<!DOCTYPE html> 
<html> 
<head> 
<title>Congratulations</title> 
<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="../../../style/STN_style.css" />

</head>

<body style="overflow:hidden" class="smartPhone phoneWelcome">
	<div class="welcome-semi-trans">
		<h1>Congratulations and Welcome!</h1>
		<div class="welcomeMessage">
			You've successfully registered and are now a member of the Successful Thinkers Network!  To set up your member profile, log into 
			<div class="welcome-pcloginurl">members.successfulthinkersnetwork.com</div> 
			from a <b>personal computer</b>.
		</div>
		<div class="welcomeDownload">
			<a href="https://play.google.com/store/apps/details?id=com.stn2.Android"><img src="../../Images/STN_iPhone_58.png"></a>
			To use the mobile application, download it from Google Play<a href="https://play.google.com/store/apps/details?id=com.stn2.Android">here</a>.
		</div>
 	</div>
</body>
</html>

