<!DOCTYPE html> 
<html> 
<head> 

<title> $data.getString("fullName")|$data.getString("jobTitle")|$data.getString("profession")|STN</title> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content="$data.getString("bio")">
<meta name="ROBOTS" content="INDEX, FOLLOW">

<link rel="shortcut icon" href="http://members.successfulthinkersnetwork.com/faviconSTN.ico" />
<link rel="stylesheet" href="http://d2ughav8un28tb.cloudfront.net/style/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="http://d2ughav8un28tb.cloudfront.net/style/jquery.mobile-1.3.1.css" />

<link rel="stylesheet" href="http://members.successfulthinkersnetwork.com/style/STN_style.css" />
<link rel="stylesheet" href="http://resource.successfulthinkersnetwork.com/stn-member/stn.css" />

<body>
<div style="background-color: #466bb0; width: 100%; margin:0; padding:0; font-family:arial; font-size: 12px;">

<div style="width: 648px; margin: 0 auto;"><img src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/email-header_members.jpg" width="648" height="90" alt="STN Member"/></div>
<div style="width: 588px; margin: 0 auto 25px; padding:30px; background-color: #FFF; text-align: left; color: #818181; font-size: 16px; line-height: 20px; border-radius: 8px; -moz-border-radius: 8px;">

$data.getString("publicProfile")

</div>

<div style="width: 588px; margin: 0 auto 30px; padding:30px; background-color: #FFF; text-align: left; color: #818181; font-size: 16px; line-height: 20px; border-radius: 8px; -moz-border-radius: 8px;">
	<div style="width: 500px; margin:0 auto;"><img src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/about-successful-thinkers.png" width="500" height="30" alt="STN Invitation"/></div>
	<p>Successful Thinkers Network is unlike any other business networking organization you've seen before and it’s taking the nation by storm! </p>
	<div>
    	<a href="http://$com.get("domainName")" target="_blank"><img style="float:left; margin: 0 20px 15px 0; border: none;" src="http://resource.successfulthinkersnetwork.com/stn-member/images/emails/weclome-video-thumb.jpg" width="255" height="165" alt="Watch Video"/></a>
        <p>Take advantage of proprietary, innovative technology that connects individuals online and face-to-face, to create real "pay-it-forward" relationships that will elevate your business to the next level and beyond! And the best part?</p> 
        <strong style="font-size:22px; color: #466bb0">It's all for free!</strong>
    	<div style="clear:both; padding-bottom: 25px;"></div>
        
        <div style="width:160px; float: left; margin: 0 50px 25px 0;">
        	<div style=" border: 2px solid #466bb0; color: #466bb0; font-size: 18px; padding: 10px; text-align:center; margin: 0 0 10px;">GENERATE LEADS</div>
        	<div style="width: 160px; color: #999; font-size: 14px; text-align:center; line-height:16px;">Meet potential business partners, customers and referrals</div>
        </div>

        <div style="width:160px; float: left; margin: 0 50px 25px 0;">
        	<div style=" border: 2px solid #466bb0; color: #466bb0; font-size: 18px; padding: 10px; text-align:center; margin: 0 0 10px;">CONNECT IN PERSON</div>
        	<div style="width: 160px; color: #999; font-size: 14px; text-align:center; line-height:16px;">Connect with people face-to-face at live mixers in your area</div>
        </div>

        <div style="width:160px; float: left; margin: 0 0 25px;">
        	<div style=" border: 2px solid #466bb0; color: #466bb0; font-size: 18px; padding: 10px; text-align:center; margin: 0 0 10px;">FREE EDUCATION</div>
        	<div style="width: 160px; color: #999; font-size: 14px; text-align:center; line-height:16px;">Learn to network with others and increase your effectiveness</div>
        </div>

        <div style="width:160px; float: left; margin: 0 50px 0 0;">
        	<div style=" border: 2px solid #466bb0; color: #466bb0; font-size: 18px; padding: 10px; text-align:center; margin: 0 0 10px;">USE TECHNOLOGY</div>
        	<div style="width: 160px; color: #999; font-size: 14px; text-align:center; line-height:16px;">Interact and manage all your networking needs with the latest tech</div>
        </div>

        <div style="width:160px; float: left; margin: 0 50px 0 0;">
        	<div style=" border: 2px solid #466bb0; color: #466bb0; font-size: 18px; padding: 10px; text-align:center; margin: 0 0 10px;">SPEAKING OPPORTUNITY</div>
        	<div style="width: 160px; color: #999; font-size: 14px; text-align:center; line-height:16px;">Reach new audiences by speaking at our many Chapter locations</div>
        </div>

        <div style="width:160px; float: left; margin: 0;">
        	<div style=" border: 2px solid #466bb0; color: #466bb0; font-size: 18px; padding: 10px; text-align:center; margin: 0 0 10px;">COMMUNITY INVOLVEMENT</div>
        	<div style="width: 160px; color: #999; font-size: 14px; text-align:center; line-height:16px;">Participate in community outreach programs in your local area</div>
        </div>

        
        <div style="clear:both"></div>
        
        <div style="width: 290px; margin: 50px auto 30px;"><a style="display:block; color: #FFF; background-color: #e39720; border-radius: 5px; -moz-border-radius: 5px; font-size: 18px; line-height: 70px; width: 290px; height: 70px; text-align: center; text-decoration: none" href="http://www.$com.get("domainName")">LEARN MORE</a></div>
        
    </div>
</div>
</div>

</body>
</html>