<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
 
     <div class="incompl-prof Zlhs $.showIncomplProf(model) Zrhs">
     	<img class="incompl-icon" src="/images/warningIcon.png"><div class="incompl-prof-title">Other members can't find you!</div>
     	<div class="incompl-prof-info">
      	<div class="incompl-prof-subtitle">We're missing your:</div>
      	<ul class="incompl-prof-list">
      		<li class="incompl-prof-list-item Zlhs ($.hasVal(model.get('photoUrl')))?'hidden':''Zrhs">Picture</li>
      		<li class="incompl-prof-list-item Zlhs ($.hasVal(model.get('profession')))?'hidden':''Zrhs">Professional Category</li>
      		<li class="incompl-prof-list-item Zlhs ($.hasVal(model.get('postalCodeAddress_work')))?'hidden':''Zrhs">Postal Code</li>
      		<li class="incompl-prof-list-item Zlhs ($.hasVal(model.get('OrgId')))?'hidden':''Zrhs">Home Chapter</li>
      		<li class="incompl-prof-list-item Zlhs ($.hasVal(model.get('powerpartner1')))?'hidden':''Zrhs">Power Partners</li>
      	</ul>
     	</div>
     	<div class="incompl-prof-act">
      	<div class="incompl-prof-detail-top">Update the essentials here!</div>
      	<div class="incompl-prof-detail">And visit the My Account screen to add other important details.</div>
      	<div id="editmissingprofile" class="button incompl-prof-btn">Update</div>
     	</div>
     </div>