<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
 
		<div class="box-score powerpartners <%= ($.hasVal(model.get('powerpartner1')))?'':'hidden' %>">
         	<a href="#memberList/NewPowerPartners">
         		<div class="box-score-title">New Power Partners</div>
	          	<div class="box-score-num">
	          		<%= model.get('NewPowerPartners') %>
	          	</div>
	          	<div class="box-score-label">joined - last 4 weeks</div>
	          	<div class="box-score-label-sub">Click to view</div>
         	</a>
         </div>