<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div data-role="header" class="catalogHeader ui-header ui-bar-a" role="banner" style="height:50px;text-align:center">
		<span id="navigationButton" class="button menuLaunch home" style="position: absolute;top: 10px;		left: 10px;">Menu</span>
		<!-- <span class="button" class="button"  style="position:absolute;top: 10px;		left: 10px;" onclick="window.location='#contactList'">Menu</span> -->
		<!--<a id="navigationButton" href="#" style="background:none;border:none;top:2px;color:gray;vertical-align:top;box-shadow:none"><img src="../../images/mockup/compassButton.png" height:="35px" width="35px"></a>-->
		<!-- <div id="rwAlerts" style="position: absolute;top: 10px;		right: 10px;">No Alerts</div>	 -->
		<span class="ui-title" role="heading" aria-level="1" style="font-size:16pt">Dashboard</span>
		<!-- <span style="position:absolute;right:5px;top:15px;text-decoration:underline;cursor:pointer" onclick="window.location='#Profile'">Logout</span> -->
		<!-- <span id="logout" style="cursor:pointer;position:absolute;right:5px;top:10px;padding-top: 5px;padding-bottom: 5px;padding-left: 15px;padding-right: 15px;" class="button" onclick="window.location='#signout'">Logout</span> -->

</div>

<div style="overflow-y:scroll;bottom:0" class="mainPanelBody">
	<div id="dedup"></div>
	<div id= "completeness"></div>
</div>


