<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<!-- ReferralOutboxMessage.html -->
<table style="width:100%" table-layout:fixed" class="expandableListRow home outBox">
	<tr>
		<td class="referralPictureCell iconCell">
			<img class="referralTypeIcon" src="/images/icons/message.png">
		</td>	

		<td style="padding-top:5px;padding-bottom:5px">
	 		
	 			<!-- regular -->
	 			<span class="referralListItemTopLine regular">Your Message to <a class="partnerName" href="#memberProfile/Zlhs model.get('toId') Zrhs">Zlhs model.get('to_fullName') Zrhs</a>
	 			</span>
	 			<!-- smartphone --> 	
				<div class="referralListItemBottomLine">Zlhs model.get('subject') Zrhs</div>		
		</td>
		<td class="referralPictureCell extraRefDetail">
			<div>Zlhs model.get('to_firstName') Zrhs</div>
			Zlhs $.getImageTN(model,'to_photoUrl','<%= rwFB.CDN%>/images/icons/User.png','')Zrhs
			
		</td>	
		
		<td class="expandCollapseCell collapsed" stateCell="Zlhs model.get('id') Zrhs" referralStatus="Zlhs model.get('status') Zrhs" toggleState="collapsed" toggleCID="Zlhs model.cid Zrhs" detailSnippetId="ReferralInmailDetail">
			<div class="accept expand"> <img class="extraRefDetail" style="float:left" src="<%= rwFB.CDN%>/images/icons/expandIconWhite.png">Expand</div>
			<div class="accept collapse"> <img class="extraRefDetail" style="float:left" src="<%= rwFB.CDN%>/images/icons/collapseIconWhiteSmall.png">Collapse</div>
		</td>
		
		
		
		
	</tr>		
</table>

	<div  id="Zlhs model.cid Zrhs_details" objid="Zlhs model.get('id') Zrhs_details" class="insetReferralDetail" detailNodeState="hidden" detailNode="Zlhs model.get('status') Zrhs">
		
		
	</div>





