<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<!-- ReferralInbox.html -->
<table style="width:100%; table-layout:fixed" class="expandableListRow home">
	<tr>

		<td class="referralPictureCell iconCell">
			
			<!-- <img src="STN/Images/activity-icon_referral-received.png"/>  -->
			<div class="referralStatusIconFrame iconStatus-Zlhs model.get('status')Zrhs iconRefType-Zlhs model.get('referralType')Zrhs">
				<img class="referralTypeIcon typeIcon-cust-for-part statusIcon-unread" src="<%= rwFB.CDN%>/STN/Images/iconFunnel_UNREAD.png">
				<img class="referralTypeIcon typeIcon-cust-for-part statusIcon-accepted" src="<%= rwFB.CDN%>/STN/Images/iconFunnel_ACCEPTED.png">
				<img class="referralTypeIcon typeIcon-cust-for-part statusIcon-confirmed" src="<%= rwFB.CDN%>/STN/Images/iconFunnel_CONFIRMED.png">
				<img class="referralTypeIcon typeIcon-cust-for-part statusIcon-converted" src="<%= rwFB.CDN%>/STN/Images/iconFunnel_CONVERTED.png">
				<img class="referralTypeIcon typeIcon-cust-for-part statusIcon-nosale" src="<%= rwFB.CDN%>/STN/Images/iconFunnel_NOSALE.png">
				
				
			</div>
			
			<!--<%=fieldRenderer(attributes[3],true)%>-->
		</td>	

		<td style="padding-top:5px;padding-bottom:5px" inboxDetailNode="Zlhs model.get('status') Zrhs">

				<span class="referralListItemTopLine referralContactLink regular"><a href="#lookupPartnerProfile/Zlhs model.get('fromId') Zrhs" class="partnerName">Zlhs model.get('from_fullName') Zrhs</a> referred <span class="contactName">Zlhs model.get('contact_fullName') Zrhs</span> to you.</span>
				
				<div class="referralListItemBottomLine">Zlhs $.formatOutBoxStatusShort(model) Zrhs</div>

		</td>
		
		<td class="referralPictureCell extraRefDetail">
			<div>Zlhs model.get('from_firstName') Zrhs</div>
			Zlhs $.getImageTN(model,'from_photoUrl','<%= rwFB.CDN%>/images/icons/User.png','')Zrhs
			
			<!--<%=fieldRenderer(attributes[3],true)%>-->
		</td>	


		<td class="expandCollapseCell collapsed" stateCell="Zlhs model.get('id') Zrhs" inboxToggle referralStatus="Zlhs model.get('status') Zrhs" toggleState="collapsed" toggleCID="Zlhs model.cid Zrhs" detailSnippetId="ReferralInboxDetail">
			<div class="accept expand"> <img style="float:left" class="extraRefDetail" src="<%= rwFB.CDN%>/images/icons/expandIconWhite.png">Expand</div>
			<div class="accept collapse"> <img style="float:left" class="extraRefDetail" src="<%= rwFB.CDN%>/images/icons/collapseIconWhiteSmall.png">Collapse</div>
		</td>
	</tr>		
</table>

	<div  id="Zlhs model.cid Zrhs_details" objid="Zlhs model.get('id') Zrhs_details" class="insetReferralDetail" detailNodeState="hidden" inboxDetailNode="Zlhs model.get('status') Zrhs">
		
		
	</div>





