<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<% var f = attributes; var fldname = f["fldname"]; var required = f["required"]; var readOnlyFld = f["readOnly"];%>
<% if ( readonly == true  || readOnlyFld == true ) { %>
<a href="http://Zlhs model.get('<%= fldname%>')Zrhs" rel="external" target="_blank">Zlhs $.getAltValue(model.get('<%= fldname%>'),'')Zrhs</a>
<% } else { %>
<input type='url' id='<%= fldname%>' value="" placeholder="<%= (required == true) ? 'required' :'optional'%>"></input>
<% } %>

