<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">

<div style="position: relative;height: 1100px;background-color: black">
	<div style="right: 5px;left: 5px;position: absolute;top: 0;height: 50px;color: white;">
		<table width="100%">
			<tr>
				<td width="100px"><a id="cancel" class="button">Cancel</a></td>
				<td style="text-align:center;font-size:18pt">Printable Page</td>
				<td width="100px"style="text-align:right;height:45px;padding-right:10px">
					<a id="print"><img src='<%= rwFB.CDN%>/images/icons/printerIcon.png' style="height:25px"></a>
				</td>
			</tr>
		</table>
	</div>
	<div id="printcontent" style="position: absolute;top: 0;bottom: 0;background-color: white;left: 5px;right: 5px">
		<div style="padding-right: 40px;text-align: right;color: black;font-family:courier new;line-height:25px;vertical-align:top">Referral<font style="color:firebrick;vertical-align:top;">Wire</font><img src="<%= rwFB.CDN%>/images/icons/referralWireLogo.png" style="height:25px;padding-left:5px"></div>
					<div class="profilePlatter">
					<%= detailBody%>
					</div>
		</div><!-- close the platter -->
	</div>
</div>



