<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="height:100%;width:100%;position:relative;border-radius:4px">

	<div class="confirmHeader">

				<a confirmevent="cancel" class="button" style="float:left">Cancel</a>
				<span id="pickTitle" class="confirmTitle">Accept</span>
		

	</div>
	<div class="confirmBody">
		<div class="confirmMsg">Do you wish to accept the request?</div>
		<table width="100%">
			<tr>
				<td width="50%" style="text-align:right">
					<img src="/STN/Images/activity-icon_connection-large.png"  style="width:80%">
				</td>
				<td>
					<div popEvent class="button confirmButton" confirmevent="save" id="acceptReferral">Accept</div>
					<div popEvent class="button confirmButton" confirmevent="save" id="archiveReferral">Ignore</div>
				</td>
			</tr>
		</table>
		<div class="confirmFooter">
		If you ignore the referral it will be only be visible under Referrals &gt; Archived.
		</div>
	</div>
</div>