<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
		
	<div style="overflow-y: scroll;position: absolute;top: 10px;bottom: 10px;background-color: white;border-radius: 10px;left: 5px;right: 5px">
		<div style="font-weight:normal" class="Zlhs (model.get('referralType') == 'PART_FOR_PART')?'upsertFormSectionHeader':'hidden' Zrhs">
			<b>Next Steps:</b>&nbsp;&nbsp;Both Zlhs model.get('to_firstName') Zrhs and Zlhs model.get('to_firstName2') Zrhs will receive your referral. If both accept, they'll become members of each others' network. 
			<p><b>Note:</b>&nbsp;&nbsp;Partners who aren't already members will receive an invitation to join via email. Referral details will be accessible to new members after they register.
			</p>
		</div>

	</div>
<!-- includeFieldDescription is in rwapi -->