<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
			
	<div style="right: 5px;left: 5px;position: absolute;top: 0;height: 50px;color: white;">
		<table width="100%">
			<tr>
				<td width="100px"><a id="cancel" class="button">Cancel</a></td>
				<td style="text-align:center;font-size:16pt;text-shadow:none">Give a referral to <font style="color:firebrick">Zlhs model.get('to_fullName')Zrhs</font></td>
				<td width="100px"style="text-align:right;height:45px">
					<a id="save" class="button">Save</a>
				</td>
			</tr>
		</table>
	</div>
	<div style="overflow-y: scroll;position: absolute;top: 50px;bottom: 10px;background-color: white;border-radius: 10px;left: 5px;right: 5px">
		<ul data-role="listview" data-inset="true" class="editformfields">
		<% for (var i=2;i < (attributes.length-8);i++) {var a = attributes[i]; %>
		<li><table width="100%"><tr><td width="25%" align="right"><div><%= a["label"]%>:</div><%=$.includeFieldDescription(a["description"])%></td><td width="5%"></td><td width="70%"><%= fieldRenderer(a,false)%></td></tr></table></li>
		<% }; %>
		</ul>
		<div id="customQuestions" class="Zlhs $.getFormattedVal(model.get('question1'),'customQuestionHeader','hidden') Zrhs" > Background information requested by <font style="color:firebrick">Zlhs model.get('to_fullName')Zrhs</font></div>
		<ul data-role="listview" data-inset="true" class="Zlhs $.getFormattedVal(model.get('question1'),'editformfields','hidden') Zrhs" style="min-height:500px"">
		<% var customQStartIndex = 7 /*first custom question in the attribute array*/%>
			<li class="Zlhs $.getFormattedVal(model.get('question1'),'','hidden') Zrhs" style="padding-left:100px;padding-right:100px"><div><%=fieldRenderer(attributes[customQStartIndex],true)%></div><div><%= fieldRenderer(attributes[customQStartIndex+1],false)%></div></li>
			<li class="Zlhs $.getFormattedVal(model.get('question2'),'','hidden') Zrhs" style="padding-left:100px;padding-right:100px"><div><%=fieldRenderer(attributes[customQStartIndex+2],true)%></div><div><%= fieldRenderer(attributes[customQStartIndex+3],false)%></div></li>
			<li class="Zlhs $.getFormattedVal(model.get('question3'),'','hidden') Zrhs" style="padding-left:100px;padding-right:100px"><div><%=fieldRenderer(attributes[customQStartIndex+4],true)%></div><div><%= fieldRenderer(attributes[customQStartIndex+5],false)%></div></li>
			<li class="Zlhs $.getFormattedVal(model.get('question4'),'','hidden') Zrhs" style="padding-left:100px;padding-right:100px"><div><%=fieldRenderer(attributes[customQStartIndex+6],true)%></div><div><%= fieldRenderer(attributes[customQStartIndex+7],false)%></div></li>
		</ul>

	</div>
<!-- includeFieldDescription is in rwapi -->