<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">

<a id="accept" confirmation="true" confirmtemplate="AcceptInvitationConfirmation" setfieldlist="status" setvallist="Zlhs $.getRSStatus(model) Zrhs" style="padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px;cursor:pointer;" class="refStatus-Zlhs model.get('status')Zrhs refType-Zlhs model.get('referralType') Zrhs referral-accept-button button ">Accept</a>
<a id="accept" style="padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px;cursor:pointer;" claimOrArchive class="refStatus-Zlhs model.get('status')Zrhs refType-Zlhs model.get('referralType') Zrhs referral-claim-button button">Claim</a>
<a id="confirm" style="padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px;cursor:pointer;" updateStatus="Zlhs model.get('status')Zrhs" class="Zlhs $.getReferralUpdateButtonClass(model,'CONFIRM') Zrhs">Update</a>
<a id="convert" style="padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px;cursor:pointer;" updateStatus="Zlhs model.get('status')Zrhs" class="Zlhs $.getReferralUpdateButtonClass(model,'CONVERT') Zrhs">Update</a>




