<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<!-- ViewReferralFormUnreadProspect.html -->			

			

	<div class="referralFormHeader unread">
		<div style="padding-bottom:20px">
			<table>
				<tr>
					<td class="referralPictureCell myReferrals">
						<div class="referralStatusIconFrame iconStatus-Zlhs model.get('status')Zrhs iconRefType-Zlhs model.get('referralType')Zrhs">
							<img class="referralTypeIcon typeIcon-cust-for-part statusIcon-unread" src="/STN/Images/iconFunnel_UNREAD.png">
						</div>
					</td>
					<td>
					<div class="referralFormHeader-textbox">
						<div><font class="contactName light">A prospective customer</font> was referred to you by <a href="#lookupPartnerProfile/Zlhs model.get('fromId') Zrhs" class="partnerName light">Zlhs model.get('from_fullName') Zrhs</a> on  Zlhs $.getFormattedDate(model.get('rw_created_on').$date) Zrhs</div>
						<div class="referralFormHeader-statusDetail"><span claimOrArchive class="acceptReferral referralAction">Claim</span> the referral to see details about the prospect.</div>
					</div>
					</td>
					<td class="referralPictureCell myReferrals">
						Zlhs $.getImage(model,'from_photoUrl','<%= rwFB.CDN%>/images/icons/User.png','')Zrhs
					</td>
				</tr>
			</table>
		</div>
		
	</div>
	<div>
	<!-- <img src="/images/envelopeLarge.jpg" style="width:80%"> -->
	</div>
<!-- includeFieldDescription is in rwapi -->
