<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
 
<div class="titleSummary">
	<div class="titleSummaryInner">
	<font class="titleSummaryIntro">Welcome <%= model.get('fullName')%>!</font><p><%=$.getTitleSummaryNews(model.get('NewReferralsRcvd'),model.get('NewReferralsSent'))%></p>
	</div>
</div>

<!-- 
<div style="background-color:white; font-size:14pt; border:solid black 1px; border-radius:9px; box-shadow: 5px 5px 5px; margin-left:-5px; margin-right:-5px; margin-bottom:30px;padding:15px">
	<font style="font-weight:bold; font-size:15pt;">Welcome back <%= model.get('fullName')%></font><p><%=$.getTitleSummaryNews(1,0)%></p>
</div>
 -->