<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">

<div class="Zlhs $.getFormattedVal(model.get('id'),'cPanel std','hidden') Zrhs">
	<h2><%= metaApplet.singularTitle %></h2>
	<div>
		<ul data-role="listview" data-inset="true" class="formfields">
		<% for (var i=0;i < attributes.length;i++) {var a = attributes[i]; var aName = a.fldname; if (a.dataType != 'hidden'){%>
			<li class="Zlhs $.getFormattedVal(model.get('<%= aName %>'),'','remove') Zrhs" ><table width="100%"><tr><td width="25%" align="right" class="label"><span><%= a["label"]%>:</span></td><td width="5%"></td><td width="70%"><%= fieldRenderer(a,true)%></td></tr></table></li>
		<% }}; %>
		</ul>
	</div>
</div>
	


