<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="display:inline-block;width:100%;padding-top:15px">
	  <div class="paragraphBlock" style="float:left;display:inline;width: 100px;overflow-x: hidden;margin-right: 10px;">
       	<!--<img src="<%= rwFB.CDN%>/images/icons/Contact_jumbo.png"/>-->
       	
		Zlhs $.getImage(model,'photoUrl','<%= rwFB.CDN%>/images/icons/chapterPlaceholder.png','profilePhoto')Zrhs
       </div>
       <div class="paragraphBlock" style="display:inline;font-size:14px">

		       	<table class="paragraphBodyText">
		          	<tr>
		          		<td class="paragraphNameText partnerName light">Zlhs model.get('businessName') Zrhs</td>
		          	</tr>
		          	<tr>
		          		<td>Zlhs model.get('cityAddress_work') + ', ' +  model.get('stateAddress_work') Zrhs </td>
		          	</tr>
		
		          	
		        </table>
	    </div>
</div>
		<ul data-role="listview" data-inset="true" class="formfields">
		<% for (var i=0;i < (attributes.length);i++) {var a = attributes[i]; %>
		<li><div class="phoneFormLabel"><%= a["label"]%>:</div><div><%= fieldRenderer(a,true)%></div></li>
		<% }; %>
		</ul>

