<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:34:59 GMT">
<!-- 
<div class="eventHeader Zlhs $.hasVal(model.get('eventId'))?'amAttending':'amNotAttending'Zrhs Zlhs model.get('pastFuture') Zrhs Zlhs model.get('status') Zrhs">
<div class="Zlhs $.hasVal(model.get('eventId'))?'button leaveMeeting':'button joinMeeting' Zrhs"></div>	
	<div class="eventStatusLabel attending">We're expecting you! Click the button at left if you have a change of plans</div>
	<div class="eventStatusLabel notAttending">You're not on the list. Click 'Add Me' if you plan to attend.</div>
	
	<div class="eventStatusLabel didAttend">You were there! Click <a href="#EventCheckedIn/Zlhs model.get('eventId')Zrhs">here</a> to see a list of other members who checked in.</div>
	<div class="eventStatusLabel didNotAttend">We missed you</div>
</div>
 -->
 	
<div class="Zlhs (model.get('status') == 'CHECKEDIN')?'eventStatusLabel':'hidden' Zrhs">You were there! Click <a href="#EventCheckedIn/Zlhs model.get('eventId')Zrhs">here</a> to see a list of other members who checked in.</div>

<div class="event-form-all-left">
	<div style="display:inline-block;padding-top:15px;padding-left:10px;margin-right:10px;color:black;text-shadow:none;border-radius:8px;font-family:century">
	
			<a href="#OrgEvents/Zlhs model.get('OrgId') Zrhs" class="eventFormTitle">Zlhs model.get('businessName')Zrhs</a>
			<a href="#phoneOrgEvents/Zlhs model.get('OrgId') Zrhs" class="eventFormTitle-phone">Zlhs model.get('businessName')Zrhs</a>
			<div class="eventFormSubTitle">Meeting Details</div>
			<div class="eventFormSection">
				<div class="eventFormSectionFloat">
					<div class="eventFormPhotoFrame">
					Zlhs $.getImage(model,'orgPhotoUrl','<%= rwFB.CDN%>/images/icons/chapterPlaceholder.png','')Zrhs
					</div>
				</div>
				<div class="eventFormPhotoCaption">
					<div>Zlhs $.getDateElement(model,"datetime","day")Zrhs</div>
					<div>Zlhs $.getDateElement(model,"datetime","month") + ' ' + $.getDateElement(model,"datetime","date")Zrhs</div>
					<div>Zlhs $.getTimeString(model,'datetime')Zrhs</div>
				</div>
			</div>
			<div class="eventFormSubTitle">Agenda</div>
			<div style="padding-top:10px;padding-bottom:20px;font-family:arial;line-height:14pt">
				<span class="Zlhs $.getFormattedVal(model.get('agenda'),'','hidden') Zrhs">Zlhs model.get('agenda')Zrhs</span>
				<span class="Zlhs $.getFormattedVal(model.get('agenda'),'hidden','') Zrhs">To be announced...</span>
				
			</div>
			<div class="eventFormSubTitle">Featuring</div>
			
			<div class="eventFormSection">
				<div class="eventFormSectionFloat">
					<div class="eventFormPhotoFrame">
					Zlhs $.getImage(model,'speaker1_photoUrl','<%= rwFB.CDN%>/images/icons/UserWBack.png','eventSpeakerImage')Zrhs
					</div>
				</div>
				<div class="eventFormPhotoCaption">
					<div>Zlhs model.get('speaker1_fullName')Zrhs</div>
				</div>
				<div class="captionLineTwo">Zlhs model.get('speaker1_business')Zrhs</div>
			</div>
	
			<div style="padding-top:10px;padding-bottom:20px;font-family:arial;line-height:14pt">
				Zlhs model.get('speaker1_bio')Zrhs
			</div>
	</div>
</div>
<div class="event-form-all-right">
			<div class="event-address">
					<div>
						<div class="profile-establishmentName">Zlhs model.get('establishmentName') Zrhs</div>
						<div>Zlhs model.get('streetAddress1_work') Zrhs</div>
						<div>Zlhs model.get('cityAddress_work') +", " + model.get('stateAddress_work') + ", " + model.get('postalCodeAddress_work') Zrhs</div>
					</div>
					
			</div>
			<div class="event-logo">
					<div class="profile-establishmentLogo">
						Zlhs $.getImage(model,'logoUrl','<%= rwFB.CDN%>/images/emptyPic.png','')Zrhs
					</div>
			</div>
		<div id="mapTarget" class="eventAllMap"></div>
</div>

