<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div class="leaderboard-form">
	<div class="leaderboard-description">
		<div class="leaderboard-desc-head">Who are the power players in your profession?</div>
		<div class="leaderboard-desc-sub">This chart ranks the most valuable networkers in your profession based on the prospect referrals they've given their colleagues.</div>
	</div>
	<div class="Zlhs ($.hasVal(model.get('profession')))?'leaderboard-params':'hidden' Zrhs">
		<div class="leaderboard-field-label">Your profession:</div>
		<div class="leaderboard-field-value">Zlhs model.get('profession') Zrhs</div>
		<br>
		<div class="leaderboard-field-label" style="clear:left">Your Zip Code:</div>
		<div class="leaderboard-field-value">Zlhs model.get('postalCodeAddress_work') Zrhs</div>
	
	</div>
</div>

