<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
			
	<div style="right: 5px;left: 5px;position: absolute;top: 0;height: 50px;color: white;">
		<table width="100%">
			<tr>
				<td width="100px"><a id="cancelPickCreate" class="button">Cancel</a></td>
				<td style="text-align:center;font-size:15pt"><%= applet['newTitle']%></td>
				<td width="100px"style="text-align:right;height:45px">
					<a id="savePickCreate" class="button">Save</a>
				</td>
			</tr>
		</table>
	</div>
	<div style="overflow-y: scroll;position: absolute;top: 50px;bottom: 10px;background-color: white;border-radius: 10px;left: 5px;right: 5px">
	
		<ul data-role="listview" data-inset="true" class="editformfields">
			<% for (var i=0;i < attributes.length;i++) {var a = attributes[i]; if (a.dataType != 'hidden'){%>
			<li><table width="100%"><tr><td width="25%" align="right"><div><%= a["label"]%>:</div><%=$.includeFieldDescription(a["description"])%></td><td width="5%"></td><td width="70%"><%= fieldRenderer(a,false)%></td></tr></table></li>
			<% } else {%>
			<li style="display:none;"><%= fieldRenderer(a,true)%></li>
			<% }}; %>
		</ul>
	</div>
<!-- includeFieldDescription is in rwapi -->