<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">

<div class="paragraphBlock">
       </div>
       <div class="paragraphBlock">
       	<table class="paragraphBodyText">
          	<tr>
          		<td class="paragraphNameText"><%= fieldRenderer(attributes[0],true)%> </td>
          	</tr>
      </table>
 </div>

<ul data-role="listview" data-inset="true" class="formfields">
<% for (var i=4;i < attributes.length;i++) {var a = attributes[i]; if (a.dataType != 'hidden'){%>
<li><table width="100%"><tr><td width="25%" align="right"><span><%= a["label"]%>:</span></td><td width="5%"></td><td width="70%"><%= fieldRenderer(a,true)%></td></tr></table></li>
<% } else {%>
<li style="display:none;"><%= fieldRenderer(a,true)%></li>
<% }}; %>
</ul>
 