<div style="display:inline-block;width:100%;padding-top:15px">
	  <div class="paragraphBlock" style="float:left;display:inline">
       	<!--<img src="<%= rwFB.CDN%>/images/icons/Contact_jumbo.png"/>-->
		Zlhs $.getImage(model,'photoUrl','<%= rwFB.CDN%>/images/icons/UserWBack.png','profilePhoto')Zrhs
       </div>
       <div class="paragraphBlock" style="display:inline;font-size:14px">

		       	<table class="paragraphBodyText">
		          	<tr>
		          		<td class="paragraphNameText partnerName light">Zlhs $.getConditionalVal(model.get('personalTitle'),'DOCTOR','Dr.','') + ' ' + model.get('firstName') + ' ' + model.get('lastName')Zrhs</td>
		          	</tr>
		          	<tr>
		          		<td>Zlhs (!_.isUndefined(model.get('speakerShortDescription')))?model.get('speakerShortDescription'):"" Zrhs </td>
		          	</tr>
				
		        </table>
	    </div>
	    <div class="speakerContactInfo">
		    <div><a href="mailto:Zlhs model.get('speakerEmail')Zrhs">Zlhs (!_.isUndefined(model.get('speakerEmail')))?model.get('speakerEmail'):""Zrhs</a> </div>
			<div>Zlhs (!_.isUndefined(model.get('speakerPhone')))?model.get('speakerPhone'):""Zrhs </div>
			<div>Miles willing to travel: Zlhs (!_.isUndefined(model.get('speakerTravelMiles')))?model.get('speakerTravelMiles'):"Please call"Zrhs </div>
		</div>          	
</div>
		<ul data-role="listview" data-inset="true" class="formfields denseText">
		<% for (var i=0;i < (attributes.length);i++) {var a = attributes[i]; %>
		<li><div class="phoneFormLabel"><%= a["label"]%>:</div><div><%= fieldRenderer(a,true)%></div></li>
		<% }; %>
		</ul>

