<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="display:inline-block;width:100%;padding-top:15px">
	  <div class="paragraphBlock left">
       	<!--<img src="images/icons/Contact_jumbo.png"/>-->
		<img class="profilePhoto" src="Zlhs $.getAltValue(model.get('photoUrl_pub'),'<%= rwFB.CDN%>/images/icons/UserWBack.png')Zrhs"/>
       </div>
       <div class="paragraphBlock right">

		       	<table class="paragraphBodyText">
		          	<tr>
		          		<td class="paragraphNameText partnerName light">Zlhs $.getConditionalVal(model.get('personalTitle'),'DOCTOR','Dr.','') + ' ' + model.get('firstName') + ' ' + model.get('lastName')Zrhs</td>
		          	</tr>
		          	<tr>
		          		<td>Zlhs $.getPosition(model.get('jobTitle'),model.get('business')) Zrhs </td>
		          	</tr>
		
		          	
		        </table>
	    </div>
</div>
		<div class='masterSpecialities'>
			<%=fieldRenderer(attributes[3],true)%>
			

			<%=fieldRenderer(attributes[4],true)%>
			
		
			<%=fieldRenderer(attributes[5],true)%>
			
		
			<%=fieldRenderer(attributes[6],true)%>
		
		</div>

