<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<li style="background:beige;margin-top:2px">
<table style="width:100%;table-layout:fixed;" class="expandableListRow home">
	<tr>
		<td style="width:82px;overflow:hidden">
			<img src="https://graph.facebook.com/Zlhs model.get('id') Zrhs/picture" style="height:80px"/>
		</td>	
		<td style="padding-top:5px;padding-bottom:5px">
	 			<!-- for prospect recommendation -->
	 			<div>
		 			<div>Zlhs model.get('name')Zrhs</div>	 			
		 		
				</div>
		</td>
		
		<td class="contextActionCell">
			<div class="Zlhs $.getFormattedVal(model.get('rwmember') || model.get('rwinvited'),'hidden', 'button') Zrhs" actionone for="Zlhs model.get('id') Zrhs" style="padding:10px">Invite</div>
			<div class="Zlhs $.getFormattedVal(model.get('rwmember'),'display','hidden') Zrhs" style="padding:10px">Already a Member</div>
			<div class="Zlhs $.getFormattedVal(model.get('rwinvited'),'display','hidden') Zrhs" style="padding:10px">Already Invited</div>
		</td>

	</tr>		
</table>
</li>

