<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">

<div>
				<!-- this first list is just a placeholder if no testimonials have been provided -->
				<ul class="Zlhs $.getFormattedVal(model.get('quote1_title'),'hidden','testimonial') Zrhs">	
					
					<li style="position:relative;color: gray;border-color: lightgray;box-shadow: 0 0 0;" class="testimonial">
						<a  style="cursor:pointer" id="edit">
							<div class="testimonialTitle" style="color:gray">"Quote Title!"</div>
							<div class="testimonialText" style="color:gray">"Quotation from one or your customers, partners or a publication"</div>
							<div class="testimonialSource" style="color:gray">-- Source</div>
						</a>
					</li>
				</ul>
				
				
				<div style="padding-top:20px">					
					<% for (var i=0;i < attributes.length;i=i+3) {
					var a = attributes[i];
					var thisTitle = a['fldname'];
					var b = attributes[i+1]; 
					var thisText = b['fldname'];
					var c =  attributes[i+2];
					var thisSource = c['fldname'];
					%>
						<div class="Zlhs $.getFormattedVal(model.get('<%= thisTitle%>'),'speechFrame','hidden')Zrhs">
							<div class="speechTitle">"Zlhs model.get('<%= thisTitle%>')Zrhs"</div>
							<div class="speech">
								<span>Zlhs model.get('<%= thisText%>')Zrhs</span>
							</div>
							<div class="speechSource">Zlhs model.get('<%= thisSource%>')Zrhs</div>
						</div>
					<% }; %>

				</div>
				


				
	</div>

	


	