<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<a id="Zlhs model.id Zrhs" href="#PhoneMemberContact/Zlhs model.get('id') Zrhs">
<!--<%= fieldRenderer(attributes[0],true)%>-->
Zlhs $.getImageTN(model,'photoUrl','<%= rwFB.CDN%>/images/icons/UserWBack.png','')Zrhs
Zlhs $.getLevelBadge(model,"small") Zrhs
<h3 class="partnerName">Zlhs model.get('fullName') Zrhs</h3>
<p >Zlhs $.getPositionListClass(model.get('jobTitle'),model.get('business'),'PARTNER') Zrhs </p>
<div class="inline-badges">Zlhs $.getBadges(model,"inline") Zrhs</div>
</a>
<!-- assumes first attribute is a photo -->
