<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<div style="display:inline-block;width:100%;padding-top:15px">
	  <div class="paragraphBlock" style="float:left;display:inline">
       	<!--<img src="<%= rwFB.CDN%>/images/icons/Contact_jumbo.png"/>-->
		Zlhs $.getImage(model,'photoUrl','<%= rwFB.CDN%>/images/icons/UserWBack.png','profilePhoto')Zrhs
       </div>
       <div class="paragraphBlock" style="display:inline;font-size:14px">

		       	<table class="Zlhs $.getConditionalVal(model.get('type'),'REFERRAL_CONTACT','paragraphBodyText','paragraphBodyText') Zrhs">
		          	<tr>
		          		<td class="Zlhs $.getConditionalVal(model.get('type'),'REFERRAL_CONTACT','paragraphNameText contactName light','paragraphNameText partnerName light') Zrhs">Zlhs $.getConditionalVal(model.get('personalTitle'),'DOCTOR','Dr.','') + ' ' + model.get('firstName') + ' ' + model.get('lastName')Zrhs</td>
		          	</tr>
		          	<tr>
		          		<td>Zlhs $.getPosition(model.get('jobTitle'),model.get('business')) Zrhs </td>
		          	</tr>
					<tr class="Zlhs $.getConditionalVal(model.get('type'),'REFERRAL_CONTACT','hidden','') Zrhs">
		          		<td style="color:white">Click <a href="#phoneQualifications/Zlhs model.get('id')Zrhs">here</a> to see Zlhs $.addPossessiveSuffix(model.get('firstName')) Zrhs profile.</td>
		          	</tr>
	          	
		        </table>
	    </div>
</div>


<div class="cPanel std">
	<ul data-role="listview" data-inset="true" class="formfields">
	<% for (var i=0;i < attributes.length;i++) {var a = attributes[i];var aName = a.fldname; if (a.dataType != 'hidden'){%>
	<li class="Zlhs $.getFormattedVal(model.get('<%= aName %>'),'','remove') Zrhs"><div class="phoneFormLabel"><%= a["label"]%>:</div><div><%= fieldRenderer(a,true)%></div></li>
	<% }}; %>
	</ul>
</div>
