<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">


<div class="masterHeader">
	<!-- 
	<div class="dateIconContainer smaller">
			<div class="dayLabel">Zlhs $.getDateElement(model,"datetime","day") Zrhs</div>
			<div class="dateLabel" style="font-family: arial;">Zlhs $.getDateElement(model,"datetime","date") Zrhs</div>
			<img class="dateIcon" src="<%= rwFB.CDN%>/images/icons/dateIcon.png">
	</div>
	<div class="eventItemTextContainer">
		<div class="partnerName eventItem eventTitlePhone">Zlhs model.get('title') Zrhs</div>
		<div class="eventSpeaker"><b>Speaker:&nbsp;</b>Zlhs model.get('speaker1_fullName') Zrhs</div>
	</div>
	 -->
</div>
			