<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 21 Oct 2013 12:30:59 GMT">
<a href="#EventExpected/Zlhs model.id Zrhs" id="Zlhs model.id Zrhs" class="twothumbs-li">
	Zlhs $.getImageTN(model,'orgPhotoUrl','<%= rwFB.CDN%>/images/icons/chapterPlaceholder.png','')Zrhs
	
	<div class="Zlhs($.hasVal(model.get('eventId')))?'li-right-icon-cal':'hidden' Zrhs"></div>
	<div>
		<div class="partnerName eventItem">Zlhs model.get('businessName') Zrhs</div>
		<p>Speaker: Zlhs model.get('speaker1_fullName') Zrhs</p>		
		<p>Zlhs $.getTimeStringVal(model.get('datetime')) Zrhs </p>		
	</div>
</a>